/*font family*/

@font-face {
  font-family: heading-bold;
  src: url("../font/GarageFonts - FreightSans Pro Bold.otf");
}
@font-face {
  font-family: subheading-bold;
  src: url("../font/GarageFonts - FreightSans Pro Medium.otf");
}
@font-face {
  font-family: textbook;
  src: url("../font/GarageFonts - FreightText Pro Book.otf");
}
@font-face {
  font-family: lighttext;
  src: url("../font/GarageFonts - FreightText Pro Light.otf");
}

.btn-outline-danger.focus, .btn-outline-danger:focus{
  box-shadow: none;
}
body{
  font-family: textbook;
}
p{
    font-family: lighttext;
    font-size: 19px;
}
h3{
  font-family: subheading-bold;
}
.bg-cyan{
  background-color: #50cdd7;
}
.bg-light-cyan{
  background-color: rgba(80, 205, 215, 0.77);
}

.bg-white{
  background-color: #fff;
}
.sec7bottom{
  color: #325671;
}
button{
  outline: none!important;
}
/*.heading-hover{
    background: linear-gradient(to right, yellow 50%, blue 50%);
    background-size: 200% 100%;
}
.heading-hover:hover{
    background-position:right bottom;
}*/

/*font family ends*/
.more {display: none;}
.cust-pd{
  padding: 0 50px 0 50px;
}

button:span{
      border-color: #ff3547!important;
      /*box-shadow: #ff3547!important;*/
}

/*seacrh*/

input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}
.TopSearch:placeholder{
  font-size: 22px;
}

.TopSearch {
  height: 47px;
  font-size: 18px;
  display: inline-block;
  font-family:Roboto-Regular;
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding: 4px 32px 23px 27px;
  width: 0px;
  position: absolute;
  top: 26px;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}
.TopSearch::placeholder {
  letter-spacing:2px;
  margin-top:2px;
  margin-bottom:0px;
  font-size:16px;
  font-family:Roboto-Regular;
}
.TopSearch:focus:hover {
  border-bottom: 1px solid #BBB;
}

.TopSearch:focus {
  width: 30%;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
  top: 27px;
  right: 20px;
}
.TopSearchButton {
  height: 45px;
  width: 68px;
  display: inline-block;
  color:red;
  float: right;
  background: url(../img/search-1.png) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 25px;
  right:0px;
  z-index: 2;
  cursor: pointer;
  /*  opacity: 0.4;*/
  cursor: pointer;
  transition: opacity .4s ease;
}

/*search*/

/*mobile social footer media*/

  .mobile-footer-social{
    margin-top: 26px;
    margin-left: -10px;
  }
  .mobfooterSocial li {
    list-style: none;
    float: left!important;
    margin-left: 10px!important;
    width: 30px;
    height: 30px;
    color: #184155!important;
    text-align: center!important;
    border-radius: 50%;
    background: #fff;
  }
  .mobfooterSocial li span {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: all 0.6s ease-in;
  }
  .mobfooterSocial li span i {
    margin-top: 8px;
  }
  .mobfooterSocial li span {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: all 0.6s ease-in;
  }

  /*mobile social footer media*/
  .nav-pills .cust-nav-link.active, .nav-pills .show>.cust-nav-link {
    color: #225977!important;
    font-weight: bold;
    text-decoration: underline!important;
  }

/*Media query*/

/*media query for 480px to 320px start*/

@media(max-width: 480px) and (min-width: 320px){
  .mob-pad{
    padding: 0px 7px;
  }
  .mob-pad01{
    padding: 0px 15px!important;
  }
  .desktop-view{
    display: none;
  }
  .mobile-view{
    display: block;
  }

  .logo{
    width:  60%!important;
  }

  .TopSearch:focus {
    width: 85%;
    z-index: 1;
    border-bottom: 1px solid #BBB!important;
    cursor: text;
    padding: 5px;
    top: 77px;
    background: #51d4dc;
    font-size: 22px;
    z-index: 111;
  }
  .hamburger{
    margin: 0 auto;
    margin-top: 0px!important;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  .hamburger .bar{
    width: 30px!important;
    height: 2px!important;
  }
  .hamburger .bar {
    padding: 0;
    width:38px;
    height: 2px;
    background-color: #000;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
    cursor: pointer;
  }
   .checkbox3:checked + label > .hamburger3 > .bar4{
      height: 2px!important;
      width: 30px!important;
   }
  .bar1 {
    top: 6px!important;
  }
  .bar2, .bar3 {
      top: 16.5px!important;
  }
  .TopSearchButton{
    top: 10px!important;
    background-size: 30px 30px;
  }
  .sec4bottom {
      margin-bottom: 0px!important;
  }
  .cust-pd{
    padding: 0px!important;
    overflow: hidden!important;
  }
  .img{
      min-height: auto!important;
  }
  .sec5-left-bottom img {
    height: auto!important;
  }
  .cust-mt-5{
    margin-top: 2rem!important;
  }
  .orderchange{
    order: 2;
  /*  margin-top: 50px;*/
  }
  .left-order-change{
    order: 2;
    display: flex;
  }
  .left-side-slider h1 {
    font-size: 3.5rem!important;
  }
  .left-side-slider h5 {
    font-size: 30px!important;
  }
  .slider-bottom-content p{
     /* font-size: 25px; */
  }
  /*.slider-bottom{
    margin-bottom: 160px;
  }*/
  .sec3-left {
    background-color: #50ced8!important;
    bottom: 0px!important; 
    position: initial!important; 
    right: 0px!important; 
    padding: 45px 35px!important;
    z-index: 111!important;
    max-width: 100%!important; 
    max-height: 545px!important;
    color: #fff!important;
    font-weight: 400!important;
    margin-bottom: 50px;
    min-height: 400px!important;
  }
 
  /*.sec2order{
    order: 1;
  }*/
  .sec2bottom{
    position: relative;
    margin-bottom: 40px!important;
  }
  .future {
    position: initial!important;
    background: #f7f7f7;
    bottom:0px!important;
    left: 0px!important;
    max-width: 100%!important;
    padding: 0px!important;
    min-width: 100%!important;
    max-height: 490px;
    min-height: 410px;
    /* margin-bottom: 50px; */
  }
  .future p {
    margin-top: 72px!important;
    margin-left: 30px!important;
    margin-right: 30px!important;
    margin-bottom: 15px!important;
    padding: 17px 0;
  }
  .future button{
    margin-left: 44px!important;
  }
  .future2{
    order: 1;
    width: 100%;
    text-align: center;
    max-height: 0px;
    position: absolute!important;
    top: 15px;
    /* left: 40px; */
    /* text-align: center; */
  }
 
  .future2 h1 {
     position: initial!important;
     bottom: 0px!important;
     left: 0px!important;
     text-align: center;
     font-size: 2rem!important;
     font-family: subheading-bold;
     font-weight: bold;
     color: #bebdbd;
     order: 1;
    }
    .sec3bottom {
      margin-bottom: 0px!important;
    }
    .sec5bottom{
      margin-bottom: 40px!important;
    }
    .sec4-left {
      min-height: 327px!important;
      margin-bottom: -40px!important;
    }
    .sec4-img img{
      width: 100%;
    }
    .sec5-left-bottom{
      position: initial!important;
      padding: 17px 20px!important;
      min-width: 100%!important;
    }
    .sec5-left{
      position: initial!important;
      max-width: 100%!important;
      min-height: 270px!important;
      min-width: 330px!important;
    }
    .sec5-left-bottom img{
      width: 100%!important;
    }
    .sec5-right-content {
      width: 100%!important;
      padding: 30px 25px 0px 30px!important;
    }
    .sec5-right {
      min-height: 360px!important;
    }
    .sec6bottom {
      margin-bottom: 75px!important;
    }
    .sec6-left-bottom{
      position: initial!important;
      min-height: 435px!important;
      max-height: 600px!important;
      margin-bottom: -28px;
    }
    .sec6-left-bottom-width {
      width: 100%!important;
      padding: 23px 25px!important;
    }
    .sec6-left-bottom-width img{
      width: 55%!important;
    }
    .cust-card {
      background-size: cover;
      margin-bottom: 60px;
    }
    .sec7-right{
      margin-bottom: 60px;
    }
    iframe{
      width: 100%!important;
      height: 318px!important;
    }
    .footer .bg {
      height: 500px;
      width: 95%;
    }
    .footer .ftleft ul li a{
      color: #fff;
      text-decoration: none;
      font-family: lighttext;
      font-size: 17px;
      font-weight: 400;
    }
    .footer .commonul li {
      font-family: lighttext;
      font-size: 17px;
      font-weight: 500;
      color: #fff;
    }
    .copy-right p {
      font-size: 16px!important;
    }
    .sec7-right-content{
      height: 460px!important;
    }
    .social{
      display: none;
    }
    .mapdot-1 {
      right: 317px;
    }
    .left-side-slider{
      width: 100%!important;
      margin-bottom: 60px;
      text-align: center;
    }
    .left-side-slider br{
      display: none;
    }
    /*.active{
      min-height: 261px!important;
      max-height: 350px!important;
    }*/
    .footer-map-container{
      display: none;
    }
    .sec7bottom {
      margin-bottom: 40px!important;
    }
    .bar4{
      top: 25px;
    }
    .cust-navigation {
       margin-left: 25px!important;
    }
    .nav-wind{
      display: none!important;
    }
    .overlay-search-content {
      width: 90%!important;
    }
    .socialcard{
      height: 257px;
    }

    .MobFixed{
      display:block;
      z-index: 11111;
    }
    .MobFixed .MobLeft{
      background:#4fced7;
      color:#fff;
      padding: 15px 0 0 0;
    }
    .MobFixed .MobLeft p{
      text-align:center;
    }
    .MobFixed .MobRight{
      color:#fff;
      background:#215774;
      padding: 15px 0 0 0;
    }
    .MobFixed .MobRight p{
      text-align:center;
    }
    .copy-right{
      padding-top: 24px!important;
    }
    .mobile-footer-social{
      display: block;
    }
  .project-sec1-content h2 {
      font-size: 2rem!important;
    }

  /*Project Page*/

  .padd-3rem{
    margin-top: 15px;
    padding: 0rem!important;
    margin-bottom: 25px!important;
  }
  .banner-rightBtn {
    right:0px!important;
  }
  h1{
    font-size: 2rem!important;
  }
  .sec2ProBottom .proheading{
    top: -4px!important;
    left: 0px!important;
    width: 100%;
    position: inherit!important;
    text-align: center;
  }
  .sec2ProBottom .owl-next {
    /* bottom: 10px!important; */
    /* right: 53px!important; */
    /* top: 208px!important; */
  }
  .sec2ProBottom .owl-prev {
    /* top: 0px!important; */
    /* right: 24px!important; */
  }
  #project-half-shadow-slide{
    /* height: 308px!important; */
  }
  .sec2ProBottom{
    margin-bottom: 0px!important;
  }
  .project-sec2-right-bottom-width{
    position: inherit!important;
    bottom: 0px!important;
    max-width: 100%!important;
    min-width: 100%!important;
    left: 0px!important;
    padding: 24px!important;
  }
  .cust-pd-0{
    padding: 1rem!important;
  }
  .project-sec2-left-bottom{
    position: inherit!important;
    padding: 0px!important;
    max-width: 100%!important;
    min-width: 100%!important;
    /* top: 0px!important; */
    margin-bottom: 0px!important;
    max-height: 1631px!important;
    min-height: 570px!important;
  }
  .sec3ProBottom {
    margin-bottom: 40px!important;
    margin-top: 36px!important;
  }
  .sec4ProBottom {
    margin-bottom: 40px!important;
    margin-top: 0rem!important;
  }
  .project-sec5-left-bottom{
    position: inherit!important;
  }
  .project-sec5-left-bottom-width {
    padding: 25px!important;
    width: 100%!important;
  }
  .sec5ProBottom {
    margin-bottom: 40px!important;
  }
  .project-sec5-left-bottom{
    max-width: 100%!important;
    min-width: 100%!important;
    padding: 0px!important;
  }
  .technology, .technology-heading{
    position: inherit!important;
  }
  .technology-heading{
    right:0px!important; 
    left:15px!important; 
  }
  .sidenav{
    left: 0px!important;
  }
  .technology p {
    padding: 20px 0;
  }
  .technology-heading h2 {
    font-size: 2rem!important;
  }
  .sec8Right{
    width: 100%!important;
    position: inherit!important;
    left: 0px!important;
  }
  .mob-cust-caption{
    position: inherit!important;
    padding-top: 0px!important;
  }
  .sec8Right-content {
    padding: 25px!important;
  }
  .sec8ProBottom {
    margin-bottom: 300px!important;
  }
  .award-sec-heading h2{
    font-size: 2rem!important;
    text-align: center!important;
  }
  .award-caption{
    width: 100%!important;
    padding: 25px!important;
    height: auto!important;
  }
  .project-sec10-left-bottom {
    min-width: 100%!important;
    max-width: 100%!important;
    padding: 25px!important;
  }
  .sec9ProBottom{
    margin-bottom: 40px!important;
  }
  .project-sec10-left-bottom{
    position: inherit!important;
  }
  .project-sec10-left-bottom-width {
    width: 100%!important;
    padding:20px!important;
  }
  .sec10ProBottom {
    margin-bottom: 40px!important;
  }
  
  .sidenav a{
    font-size: 20px!important;
  }
  .technology-sec-content{
    min-height: 1092px!important;
    max-height: 1100px!important;
  }
  .sec6ProBottom {
    margin-bottom: 40px!important;
  }

  /*mobile gallery*/

  .sec7ProBottom-mob{
      display: block;
    }
    .desktop-hide{
      display: none;
    }
    .mob-gallery-hide{
    display: block;
    /* text-align: center; */
    }
    h2{
      font-size: 2rem!important;
    }
    .md-outline.select-wrapper+label {
      top: .5em !important;
      z-index: 2 !important;
    }
    .pra{
      width: 100%!important;
    }
    .project-sec1-content {
      padding: 0rem!important;
    }
    .banner-rightBtn {
      top: 0px!important;
      bottom: 0!important;
      position: inherit!important;
    }
    .gallery{
      min-width: 100%!important;
      position: inherit!important;
      padding: 25px!important;
      max-height: unset!important;
    }
    #select{
      width: 70%;
      border: 1px solid #52ceda;
      border-radius: 5px;
      padding: 5px;
    }
    #category-select{
      width: 67%!important;
      border: 1px solid #52ceda;
      border-radius: 5px;
      padding: 5px;
    }
    .sec7ProBottom-mob{
      margin-bottom: 40px;
    }
    #home-page-mob-slider{
      /* height: 163px; */
    }
    .project-sec2-right-bottom-width{
      min-height: 450px!important;
      max-height: 664px!important;
    }
    .mob-gallery-hide h2{
      font-size: 1.7rem!important;
    }
    .sec2ProBottom .owl-prev span{
      font-size: 50px;
      /* height: 30px; */
      right: 20px;
      top: -30px;
      position: absolute;
    }
    .sec2ProBottom .owl-next span{
      font-size: 50px;
      /* height: 30px; */
      right: 20px;
      top: -30px;
      position: absolute;
    }
    .sec2ProBottom .owl-next{
      left: 36px!important;
      top: 3px!important;
    }
    .sec2ProBottom .owl-prev{
      /* right: 61px!important; */
      top: 3px!important;
      left: 10px!important;
    }
    #investor-slider .owl-next{
      bottom: 9px!important;
      left: 12px!important;
    }
    #investor-slider .owl-prev {
      bottom: 10px!important;
      left: 4px!important;
    }
    .rts-sec4-left-bottom{
      position: initial!important;
    }
    .rts-sec4-left-bottom-width{
      width:51%!important;
      padding: 22px 24px!important;
    }
    .rts-sec4ProBottom {
      margin-bottom: 50px!important;
    }
    .focus-mob .fs-wrap{
      width: 288px!important;
      text-align: center; 
    }

  .mobile-sec h3{
  margin-top:15px;
}
.text .mt-5{
  margin-top:2rem!important;
}
.about-sec5-left {
    min-width: 100%;
    top:0px;
    height: 268px;
}
.about-sec-1 {
    margin-bottom: -3px;
}
.about-left-bottom img {
    width: 100%;
}
.about-sec-1 .owl-nav {
    bottom: 148px!important;
    right: 5px!important;
}
.about-sec3-content h2{
  margin-top:40px;
}
.about-sec5-right-content {
    width: 381px;
    float: right;
    padding:35px 20px 0 80px;
}
  .view-fordesktop{
    display:none;
  }
  .mobile-sec{
  display:block;
  padding: 20px;
}
.mobile-sec p{
  min-height:200px;
  overflow:auto;
  position:relative;
  max-height:400px
}
.about-sec-6 .owl-nav {
    bottom: -10%!important;
    right: 13px!important;
}
.about-sec-5 .owl-nav {
    bottom: -12%!important;
    right: 13px!important;
}

.about-sec-7 {
    margin-bottom: 0px;
}
.about-sec-4 .ml-4{
  margin-left: 0rem!important;
} 
.about-sec-7 .ml-4{
  margin-left: 0rem!important;
}
.about-sec-3 .ml-4{
  margin-left: 0rem!important;
}
  .about-sec4-content p {
    padding-right: 0px;
}
  .about-sec-8{
margin-bottom:50px;
}
  .sec5-right {
    min-height: 595px!important;
}
  .about-sec-2 .p-5 {
    padding:1rem!important;
}
.about-sec-2 .ml-5{
    margin-left: 0rem!important;
}
.about-sec-3{
    padding:1rem!important;
}
.about-sec-5{
  margin-top:0px!important;
}
.about-sec-3 {
    margin-bottom: 15px;
    margin-top: -35px;
}
.about-left-bottom {
    bottom: 0px;
}
.about-sec-4 .p-5 {
    padding:1rem!important;
}
.about-sec-5 .p-5 {
    padding:1rem!important;
}
.about-sec-6 .p-5 {
    padding:1rem!important;
}
.about-sec-7{
    padding:1rem!important;
}
.slider-bottom {
  top: -50px;
}

   /*mobile gallery*/
    
  /*project page ends here*/
}


/*media query for 480px to 320px ends*/

@media (max-width:500px){
  /* section{
    width: 360px!important;
  } */
  .owl-nav {
    position: absolute;
    bottom: 0px;
    right: 8px!important;
  }
  #project-half-shadow-slide .owl-nav {
    position: absolute;
    top: -32px;
    right: 35px!important;
  }
  #home-page-slider{
    height: 144px;
  }
  .left-side-slider{
    right: 0px!important;
  }
  .left-side-slider h1 {
    font-size: 2rem!important;
  }
  .left-side-slider h5 {
    font-size: 14px!important;
    font-weight: bold!important;
  }
  .slider-bottom-content p {
    /* font-size: 16px!important; */
    margin-top: 20px!important;
    padding-top: 5px!important;
  }
  .slider-bottom{
    margin-left: 0px!important;
  }
  .btnallred span {
    padding: 6px 10px!important;
    font-size: 11px!important;
  }
  .sec1bottom {
    margin-bottom: 40px!important;
  }

}


@media (min-width: 768px){
  .desktop-view{
    display: block;
  }
  .mobile-view{
    display: none;
  }
  .MobFixed{
    display: none;
  }
  .mobile-footer-social{
      display: none;
    }
    .sec7ProBottom-mob{
      display: none;
    }
    .desktop-hide{
      display: block;
    }
    .mob-gallery-hide{
      display: none;
    }
}
@media (min-width: 479px) and (max-width: 767px){

  .logo{
    width: 75%!important;
  }
  .slider-bottom{
    width:382px!important;
  }
  .sec5-left-bottom img {
    width: 534px!important;
  }
  .sec6-left-bottom-width {
    width: 420px!important;
  }
  .sec4-left-bottom {
        bottom: 165px!important;
    min-width: 695px!important;
    max-width: 695px!important;
  }
  .future{
    min-width: 696px!important;
  }
  .sec4bottom {
    margin-bottom: 0!important;
    height: 535px;
  }
 /* .sec1bottom {
    margin-bottom: 165px;
  }*/
  .sec3bottom {
    margin-bottom: 260px;
  }
  .sec2bottom {
    margin-bottom: -35px!important;
  }
  .sec6-left-bottom {
    min-width: 695px!important;
    max-width: 695px!important;
    min-height: 610px!important;
    max-height: 615px!important;
  }
  .sec5bottom {
    margin-bottom: 190px!important;
  }
  .sec6bottom {
     margin-bottom: 270px!important;
  }

}

/*Media query ends here*/

/*navigation*/
.nav-wind-search{
    width: 38%;
    left: 35px;
    top: 78px;
    bottom: 0;
    position: absolute;
}
.nav-wind{
    width: 38%;
    right: 0;
    top: 20px;
    bottom: 0;
    position: absolute;
}
.nav-wind img{
  height: 636px;
  opacity: 0.3;
}
.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  transform: translate(-150%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/*.sidenav {
  height: 100vh;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: -56px;
  background-color:#fffffff0;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 111;
  padding-top: 25px;
  box-shadow: 5px 3px 5px 0px rgba(134, 134, 134, 0.32);
  -webkit-font-smoothing: antialiased;*/
  /* to stop flickering of text in safari */
 /* transform-origin: 0% 0%;
  transform: translate(-150%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
*/
.sidenav a {
  text-decoration: none;
  color: #000;
  display: block;
  transition: 0.3s;
  font-family: lighttext;
  font-size: 1.3rem;
  line-height: 2.5;
  font-weight: 600;
  text-transform: uppercase;
}

.sidenav a:hover {
  color: #000;
}

.sidenav .closebtn {
  position: absolute;
  top: 52px;
  left: : 0;
  font-size: 50px;
  margin-left: 35px;
}
.cust-nav{
    padding: 30px;
    color: #fff!important;
    text-decoration: none;
    border-bottom: 1px solid #555;
    display: block;
    width: 100%;
    transition: 0.2s;
}

.cust-navigation{
  padding: 0;
  margin-left: 14px;
}
.cust-sub-navigation{
  padding: 0;
  margin-left: 10px;
}
.cust-navigation{
  margin-top: 125px;
  margin-left: 96px;
}
.cust-navigation, .cust-sub-navigation {
  list-style: none;
  /*top: 150px;
  left: 100px*/;
  text-align: left;
  /*position: absolute;*/
}
.cust-navigation li {
   padding: 5px 7px;
}
.cust-navgation li a{
  color: #fff!important;
  border-bottom: 1px solid #fff;
}
/*.submenu a:nth-child(1){
  color: #ff3547;
}*/
.submenu a:nth-child(1):hover{
  color: #ff3547;
}
.cust-sub-navigation a{
  color: #000!important;
  font-size: 2.5rem;
}
.cust-navigation li a:hover, .cust-sub-navigation li a:hover{
  color: #ff3547!important;
}
.navbar input:checked ~ .sidenav
{
  transform: none;
}
/*navigation*/

/*search icon*/
.search-icon-overlay{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    cursor: pointer;
    
}
.overlay-search {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 50000000;
  top: 0;
  left: 0;
  background-color: #50cfd8;
}

.overlay-search-content {
  position: relative;
  top: 46%;
  width: 45%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay-search .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay-search .closebtn:hover {
  color: #f7f7f7;
}

.overlay-search input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay-search input[type=text]:hover {
  background: #f1f1f1;
}

.overlay-search button {
  float: left;
  width: 20%;
  padding: 13px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay-search button:hover {
  background: #bbb;
}

/*search icon*/


/* social account css*/
  .feedLink {
  float:right;
  font-size:12px;
  color:red;
  margin-left:5px;
}

.feedBox {
  width:400px;
  max-width:90%;
  height:75vh;
  margin:2vw;
  display:inline-block;
  position:relative;
  vertical-align:top;
  overflow-y:scroll;
  border-radius:5px;
  box-shadow:0 0 0px 1px red;
}
iframe {
  /*position:absolute !important;*/
  top:0; left:0;
  z-index:-1;

}

.feedTitle {
  width:calc(100% - 20px);
  padding:20px 10px;
  background:#111;
  font-family:monospace;
  font-size:24px;
  text-align:left;
  color:var(--colorOne);
  position:sticky;
  top:0;
  left:0;
  box-shadow:0 0 10px black;
}




/* social account css ends*/



 /*all pages color combination*/
.color-blue{
    color: #325772;
}
.color-cyan{
  color: #4fced7;
}
.color-white{
  color: #fff!important;
}
.btn{
    box-shadow: none;
}
.btnall{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #000;
  font-size: 18px;
  cursor: pointer;
  padding: 0px!important;
  background: rgba(0,0,0,0.09);
}
.btnall span{
  display: block;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
.btnall::before, .btnall::after{
  content:"";
  width: 0;
  height: 1px;
  position: absolute;
  transition: all 0.2s linear;
  background: #3c8812;
}

.btnall span::before, .btnall span::after{
  content:"";
  width:1px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #3c8812;
}
.btnall:hover::before, .btnall:hover::after{
  width: 100%;
}
.btnall:hover  span::before, .btnall:hover span::after{
  height: 100%;
}

/*----- button all -----*/
.btnall::before{
  left: 50%;
  top: 0;
  transition-duration: 0.4s;
}
.btnall::after{
  left: 50%;
  bottom: 0;
  transition-duration: 0.4s;
}
.btnall span::before{
  left: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btnall span::after{
  right: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btnall:hover::before, .btnall:hover::after{
  left: 0;
}
.btnall:hover span::before, .btnall:hover span::after{
  top: 0;
}


/*color red*/

.btnallred{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #000;
  font-size: 18px;
  padding: 8px 15px!important;
  padding: 0px!important;
  cursor: pointer;
  background: rgba(0,0,0,0.09);
}
.btnallred span{
    display: block;
    padding: 8px 15px!important;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
.btnallred::before, .btnallred::after{
  content:"";
  width: 0;
  height: 1px;
  position: absolute;
  transition: all 0.2s linear;
  background: #ff3547;
}

.btnallred span::before, .btnallred span::after{
  content:"";
  width:1px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #ff3547;
}
.btnallred:hover::before, .btnallred:hover::after{
  width: 100%;
}
.btnallred:hover  span::before, .btnallred:hover span::after{
  height: 100%;
}

/*----- button all -----*/
.btnallred::before{
  left: 50%;
  top: 0;
  transition-duration: 0.4s;
}
.btnallred::after{
  left: 50%;
  bottom: 0;
  transition-duration: 0.4s;
}
.btnallred span::before{
  left: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btnallred span::after{
  right: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btnallred:hover::before, .btnallred:hover::after{
  left: 0;
}
.btnallred:hover span::before, .btnallred:hover span::after{
  top: 0;
}
    
/*color red ends*/


/*color white*/

.btnallwhite{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #000;
  font-size: 18px;
  padding: 0px!important;
  cursor: pointer;
  background: rgba(0,0,0,0.09);
}
.btnallwhite span{
    display: block;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
.btnallwhite::before, .btnallwhite::after{
  content:"";
  width: 0;
  height: 1px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

.btnallwhite span::before, .btnallwhite span::after{
  content:"";
  width:1px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
.btnallwhite:hover::before, .btnallwhite:hover::after{
  width: 100%;
}
.btnallwhite:hover  span::before, .btnallwhite:hover span::after{
  height: 100%;
}

/*----- button all -----*/
.btnallwhite::before{
  left: 50%;
  top: 0;
  transition-duration: 0.4s;
}
.btnallwhite::after{
  left: 50%;
  bottom: 0;
  transition-duration: 0.4s;
}
.btnallwhite span::before{
  left: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btnallwhite span::after{
  right: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btnallwhite:hover::before, .btnallwhite:hover::after{
  left: 0;
}
.btnallwhite:hover span::before, .btnallwhite:hover span::after{
  top: 0;
}
    
/*color white ends*/


/* all pages color combination ends*/

/* Home Page*/

 .cust-bar span i{
    position: relative;
    display: inline-block;
    width: 36px;
    height: 2.4px;
    color: #000;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #000;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  .cust-bar span i::before {
    top: -7px;
  } 
  .cust-bar span i::before{
    content: '';
    width: 22px;
    height: 2.4px;
    background: #000;
    position: absolute;
    right: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }
   .cust-bar span i:hover::before, .cust-bar span i:hover::after{
    content: '';
    width: 36px;
    background: #000;
    position: absolute;
    right: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }
  .cust-bar span i::after {
    content: '';
    width: 22px;
    height: 2.4px;
    background: #000;
    position: absolute;
    right: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }
  .cust-bar span i::after {
    bottom: -7px;
  }
  

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.fa-search{
      font-size: 25px;
}
.navbar{
  box-shadow: none;
  padding: 0;
}

#sync1 {
  .item {
    background: #0c83e7;
    padding: 80px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
}

#sync2 {
  .item {
    background: #C9C9C9;
    padding: 10px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    h1 {
      font-size: 18px;
    }
  }
  .current .item{
    background: #0c83e7;
  }
}



.owl-theme {
  .owl-nav {
    /*default owl-theme theme reset .disabled:hover links */
    [class*='owl-'] {
      transition: all .3s ease;
      &.disabled:hover {
       background-color: #D6D6D6;
      }   
    }
    
  }
}

//arrows on first carousel
#sync1.owl-theme {
  position: relative;
  .owl-next, .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
  }
  .owl-prev {
    left: 10px;
  }
  .owl-next {
    right: 10px;
  }
}
.sec1bottom{
  margin-bottom: 135px;
}
.sec2bottom{
  margin-bottom: 75px;
}
.sec3bottom{
  margin-bottom: 155px;
}
.sec4bottom{
  margin-bottom: -26px;
}
.sec5bottom{
  margin-bottom: 124px;
}
.sec6bottom{
  margin-bottom: 127px;
}
.sec7bottom{
  margin-bottom: 65px;
}
.about-sec2{
  margin-bottom: 180px;
}
.about-bg-power{
    background-color: #70c857;
    padding: 65px 20px 20px 108px;

}
.about-bg-power h3{
    color: #fff;
    font-size: 20px;
}
.about-bg-power p{
    color:#fff;
    font-family: lighttext;
    font-size: 17px;

}
.img-overlap{
    position: relative;
    top: 70px;
    font-family: lighttext;
    font-size: 17px;
    width: 543px;
    height: 500px;
    z-index: 1;
}
.left-side-slider{
  position: relative;
  top: 26px;
  width: 600px;
  right: 0;
  z-index: 111;
}
.left-side-slider h1{
    font-size: 4.7rem;
    font-family: heading-bold;
    color: #325772;
    line-height: 1;
    font-weight: bold;
    /* text-shadow: 2px 3px 2px #afafaf; */
}
.left-side-slider h5{
    font-size: 22px;
    font-weight: 400;
}
.slider-bottom-content{
    
}
.slider-bottom{
    background: #f7f7f7;
    position: relative;
    top: -20px;
    width: 1000px;
}
.future-left-img img{
  z-index: 111;
  position: relative;
}
.future{
    position: relative;
    background: #f7f7f7;
    bottom: 80px;
    left: -217px;
    max-width: 500px;
    padding: 50px;
    min-width: 818px;
}
.future p{
  margin-left: 170px;
  margin-top: 26px;
}
.future button{
  margin-left: 170px;
}
.future h3{
  font-family: subheading-bold;
  color:#fe051d;
}
.future2{
    max-height: 160px;
    min-height: 0;
    position: relative;
    z-index: 111;
}
.future2 h1{
    position: absolute;
    bottom: -55px;
    left: -223px;
    font-size: 4.5rem;
    font-family: subheading-bold;
    font-weight: bold;
    color: #bebdbd;
        -webkit-clip-path: inset(0 -2% -20% 0);
    clip-path: inset(0 -2% -20% 0);
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(.666,0,.237,1);
    animation-timing-function: cubic-bezier(.666,0,.237,1);
    background-position:right bottom;
}
/*.scrollclasshead{
    display:block;
    width: max-content;
    background-size: 200% auto; 
    background-image: linear-gradient(to right,#fff 50%,#ff0 50%);
    background-position: 0% 0;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.scrollclasshead.active{
   animation-name: highlight;
}

@keyframes highlight {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}*/
.scrollclass h1:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #50cfd8;

  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 1s ease-out;
}
.scrollclass h1:hover{color: #fff;}
.scrollclass h1:hover:before{ transform: scaleX(1);}
.scrollclasshead h3{
  display:inline-block;
  position:relative;
  padding: 0 8px 7px 0px;
  z-index:0;

}
.scrollclasshead h3:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #50cfd8;

  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 1s ease-out;
}
.scrollclasshead h3:hover{color: #fff;}
.scrollclasshead h3:hover:before{ transform: scaleX(1);}
 
/*.scrollclasshead{
    display:block;
    width: max-content;
    background-size: 200% auto; 
    background-image: linear-gradient(to right,#fff 50%,#ff0 50%);
    background-position: 0% 0;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.scrollclasshead .active{
   animation-name: scrollclass;
}

@keyframes scrollclass {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}
.scrollclasshead h3{
    -webkit-clip-path: inset(0 -2% -20% 0);
    clip-path: inset(0 -2% -20% 0);
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(.666,0,.237,1);
    animation-timing-function: cubic-bezier(.666,0,.237,1);
    background-position:right bottom;
}*/
/*.scrollclasshead h3:hover{
  background: linear-gradient(to left, #ffffff00 50%, #4fced8 50%);*/
/*  color: #fff;*/
/*  background-size: 200% 100%;
  transition:all 2s ease;
  background-position:left bottom;
}
.scrollclass h1:hover{
  background: linear-gradient(to left, #ffffff00 50%, #4fced8 50%);
  color: #fff;
  background-size: 200% 100%;
  transition:all 2s ease;
  background-position:left bottom;
}
.scrollclass h3:hover{
  background: linear-gradient(to left, #ffffff00 50%, #4fced8 50%);*/
/*  color: #fff;*/
/*  background-size: 200% 100%;
  transition:all 2s ease;
  background-position:left bottom;
}*/
/*.future2 h1:hover{*/
/*  background-color: #000;*/
  /*  background: linear-gradient(to left, #ffffff00 50%, #4fced8 50%);
    color: #fff;
    background-size: 200% 100%;
    transition:all 2s ease;
    background-position:left bottom;
}*/
.h-400{
  min-height: 400px;
  max-height: 400px;
}
.h-740{
  min-height: 740px;
  max-height: 740px;
}
.h-780{
  min-height: 780px;
  max-height: 780px;
}
.h-325{
    min-height: 325px;
    max-height: 325px;
}
.img{
    min-height: 500px;
    max-height: 500px;
    width: 100%;
}
.sec3-left{
    background-color: #50ced8;
    bottom: -80px;
    position: absolute;
    left: -125px;
    padding: 32px 50px 0 139px;
    z-index: 111;
    /* max-width: 450px;
    min-width: 450px; */
    min-height: 452px;
    max-height: 545px;
    color: #fff;
    font-weight: 400;
    width: 532px;
}
.sec3-left h3{
    font-family: subheading-bold;
}
.sec3-left{
  font-size: 14px;
}
.sec4-left-bottom h3{
    font-family: subheading-bold;
    color: #fe051d;
}
.btn-outline-white{
    border: 2px solid #fff!important;
    background-color: transparent!important;
    color: #fff!important;
}
.sec4-left{
   min-height: 600px;
    max-height: 600px;
    position: relative;
   
}

.sec4-left-bottom{
    position: absolute;
    padding: 50px;
    bottom: 100px;
    background: #f7f7f7;
    min-width: 1000px;
    max-width: 1000px;
}
.h-600{
    min-height: 600px;
    max-height: 600px;
}
.sec5-left{
    position: relative;
    min-height: 310px;
    max-height: 226px;
    height: 392px;
    max-width: 625px;
    /* left: -125px; */
    min-width: 1000px;
    top: 140px;
    background: #f7f7f7;
}
.sec5-left-bottom{
    position: absolute;
    bottom: 0;
    /* z-index: 111; */
    position: absolute;
    padding: 50px;
    bottom: 22px;
    /* background: #f7f7f7; */
    min-width: 530px;
    max-width: 532px;
} 
.sec5-left-bottom img{
    /* height: 445px; */
    /*width: 710px;*/
} 
.h-640{
    min-height: 640px;
    max-height: 640px;
}
.h-500{
  height: 540px;
}
.sec5-right{
  background-color: #f7f7f7;
  min-height: 430px;
  max-height: 375px;
  color: #060606;
}
.sec5-right-content{
    width: 666px;
    float: right;
    padding: 72px 168px 0 30px;
} 
.sec5-right-content h3{
    font-weight: 400;
    font-family: subheading-bold;
}    
/*.sec5-right-content p{
    font-family: lighttext;
    font-size: 17px;
} */ 
/*.sec7-left, .sec7-right{
    min-height: 335px;
    max-height: 335px;
    position: relative;
}*/
.sec6-left-bottom{
    position: absolute;
    min-height: 610px;
    max-height: 615px;
    bottom: 0;
    background: #f7f7f7;
    min-width: 633px;
    left: -122px;
    max-width: 625px;
    top: 54px;
} 
.sec6-left-bottom h3{
    color: #88c566;
    font-weight: 400;
    font-family: subheading-bold;
} 
/*.sec6-left-bottom p{
    font-family: lighttext;
    font-size: 17px;
} */
.sec7-left-content{
  position: absolute;
  bottom: 0;
}
.cust-card h2 strong{
    font-family: subheading-bold;
}
.btn-outline-green{
    border: 2px solid #88c566!important;
    background-color: transparent!important;
    color: #88c566!important;
}
.sec6-left-bottom-width{
    width: 600px;
    padding: 50px 40px 0 158px;
}
/*.cust-card{
  background-image: url(../img/8.jpg);
  background-repeat: no-repeat;
  position: relative;
  min-height: 280px;
  max-height: 310px;
  box-shadow: none;
  border-radius: inherit;
}*/
.sec7-right-content{
  height: 240px;
}
/*.cust-card2{
  background-image: url(../img/7.jpg);
  background-repeat: no-repeat;
  position: relative;
  min-height: 268px;
  max-height: 268px;
  box-shadow: none;
  border-radius: inherit;
}*/
.f-list{
    position: relative;
    min-height: 270px;
    max-height: 270px;
    /* width: 570px; */
}
/* .list-conatiner{
   position: absolute;
    bottom: 0;
    max-width: 535px;
    min-width: 535px;
} */

/*footer css*/
.footer ul{

  list-style-type: none;
}
.footer ul li{
  color:#fff;
  text-align: left;
}
.footer .arrow_box {
position: relative;
background: #fff;
border: 1px solid #c2e1f5;
}
.footer .arrow_box:after, .arrow_box:before {
bottom: 98%;
border: solid transparent;
content: " ";
height: 0;
right: 0;
width: 0;
position: absolute;
pointer-events: none;
top: -19px;
}

.footer .arrow_box:after {
border-color: rgba(136, 183, 213, 0);
border-bottom-color: #fff;
border-width: 9px;
margin-left: -30px;
}
.footer .arrow_box:before {
border-color: rgba(194, 225, 245, 0);
border-bottom-color: #fff;
border-width: 9px;
margin-left: -31px;
}
.copy-right{
  clear: both;
}
.copy-right{
  color: #fff;
  text-align: left;
  padding-top: 164px;
  font-family: lighttext;
  font-size:12.4pt
}
/* .footer .map{
  background-image: url('../img/map.jpg');
  height:500px;
  background-size:cover;
  background-position:center center;
  background-color: #0b3749;
} */
.footer .bg{
background-color:#184155;
}
.footer ul{
  font-family: lighttext;
  list-style-type: none;
  margin-bottom: 0px;
   font-size: 17px;
}
.footer .ftleft ul li {
    margin-bottom: 15px;
  font-family: lighttext;
  font-size: 17px;
}
.footer .ftleft ul li a{
  color: #fff;
    text-decoration: none;
    font-family: lighttext;
    font-size: 17px;
    font-weight: 400;
}
.footer .commonul li{
  font-family: lighttext;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}
.footer .ftright li a .fa-chevron-right{
  font-weight: 600;
  font-size: 13px;
}
.footer .ftright li a{
  color: #fff;
    text-decoration: none;
    font-family: lighttext;
    font-size: 15px;
}

.map-common{
cursor: pointer;
width: 10px;
height: 10px;
position: absolute;
border-radius: 50%;
}
.mapdot-1{background-color: #215875;right: 30%;top: 47%;}
.mapdot-2{background-color: #fbc93d;right: 29%;top: 56%;}
.mapdot-3{background-color: #70c757;right: 27%;top: 56%;}
.mapdot-4{background-color: #f6373c;right: 21%;top: 56%;}
.mapdot-5{background-color: #52ceda;right: 20%;top: 67%;}
.mapdot-6{background-color: #50cdd7;right: 28%;top: 47%; }
.mapdot-7{top:155px;right:422px;background-color: green;border: 1px solid #215875;background-color:#ced130; }
.mapdot-1:hover{width: 15px;height: 15px;right: 29%;top: 46%;}
.mapdot-2:hover{width: 15px;height: 15px;right: 29%;top: 56%;}
.mapdot-3:hover{width: 15px;height: 15px;right: 27%;top: 56%;}
.mapdot-4:hover{width: 15px;height: 15px;right: 21%;top: 56%;}
.mapdot-5:hover{width: 15px;height: 15px;right: 149px;top: 327px;right: 20%;top: 67%;}
.mapdot-6:hover{width: 15px;height: 15px;right: 28%;top: 46%;}
.dotoneaddress-1{
  color:#000;
  display: none;
  position: absolute;
  top: 23px!important;
  right: 182px;
  padding: 10px;
  background-color: #fff;
  width: 200px;
  z-index:222;
}
.mapdot-1:hover .dotoneaddress-1,.mapdot-2:hover .dotoneaddress-1,.mapdot-3:hover .dotoneaddress-1,.mapdot-4:hover .dotoneaddress-1,.mapdot-5:hover .dotoneaddress-1,.mapdot-6:hover .dotoneaddress-1,.mapdot-7:hover .dotoneaddress-1{ display: block; top:15px; }

.footer #map {
  height:400px;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width:1200px) and (max-width: 1350px) {
  .csr-rightside-slide-change{
    left: 242px!important;
  }
  
  .csr-rightside-slide-change .slick-slide {
    width: 298px!important;
  }
  .csr-rightside-slide-change .card {
    width: 270px!important;
  }
  .rightside-slide-change .slick-slide{
    margin-left: -10px;
  }
  .about-sec5-right-content {
     padding: 72px 60px 0 126px!important;
  }
  .project-sec2-left-bottom {
    padding: 0 308px 0 0!important;
  }
  .rightside-slide-change {
    width: 102%!important;
  }
}
.footer-map-container{position: relative;width: 100%;height: 464px;overflow: auto;}
.map-img{width: 100%;height: 464px;}
@media screen and (min-width:320px) and (max-width: 482px) { 
  .sec4-left-bottom {
    position: absolute;
    padding: 17px 30px;
    /* bottom: 140px; */
    top: 0px;
    background: #f7f7f7;
    min-width: 100%;
    max-width:350px;
}
.sec6-left-bottom{
  min-width: 100%;
  max-width:350px;
}
  .slider-bottom{
    width: 100%;
}
.footer-map-container{position: relative;width: 100%;height:200px;overflow: auto;}
.map-img{width: 100%;height:200px;}
.mapdot-2{background-color: #fbc93d;right: 29%;top: 56%;}
.mapdot-3{background-color: #70c757;right: 26%;top: 56%;}
.mapdot-4{background-color: #f6373c;right: 21%;top: 56%;}
.mapdot-5{background-color: #52ceda;right: 20%;top: 67%;}
.mapdot-2:hover{width: 15px;height: 15px;right: 29%;top: 56%;}
.mapdot-3:hover{width: 15px;height: 15px;right: 26%;top: 56%;}
.mapdot-4:hover{width: 15px;height: 15px;right: 21%;top: 56%;}
.mapdot-5:hover{width: 15px;height: 15px;right: 149px;top: 327px;right: 20%;top: 67%;}
}


/*footer css ends here*/

/*.footer ul{

    list-style-type: none;
}
.footer ul li{
    color:#fff;
    width: 50%;
    float: left;
    text-align: left;
}
.copy-right{
    clear: both;
}
.copy-right{
    color: #fff;
    text-align: center;
    padding-top: 50px;
}*/

.video{
    position: relative;
    min-height: 150px;
    max-height: 130px;
}
.video p{
    position: absolute;
    bottom: 38px;
}
.sec7-right-scroll{
  height: 258px;
  overflow-y: scroll;
  overflow-x: hidden;
}   
#style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #f2f2f2;
}

#style-3::-webkit-scrollbar
{
  width:3px;
  background-color: #f2f2f2;
}

#style-3::-webkit-scrollbar-thumb
{
  background-color: #898989;
}
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
.copy-right p {
  font-size: 13px;
  font-family: lighttext;
}

/* fixed social*/
.social {
  position: fixed;
  top: 369px;
  z-index: 99999999;
  right: -510px;
  line-height: 2.4;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 0 5px 7px;
  /* background: rgba(0, 0, 0, 0.36); */
  width: 288px;
  height: 30px;
  /* text-align: left; */
  color: #fff;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 50px!important;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li a{
      margin-right: 150px;
}

.social ul li:hover {
 display: block;
background: #c7c5c6;
 
width: 288px;
 
height: 30px;
 
margin-left: -69px;
}
/*.social ul li:hover i{
    width: 36px;
    height: 37px;
}*/
.social ul li:hover fa-facebook-f{
    color: #31599e!important;
}
.social ul li:hover fa-twitter{
    color: #00aff2!important;
}
.social ul li:hover fa-linkedin-in{
    color: #0082b6!important;
}
.social ul li:hover fa-instagram{
    color: #ff7702!important;
}
.social ul li:hover fa-youtube{
    color: #db0423!important;
}
.social ul li:hover a {
  color: #000;
  font-weight: 400;
}
.social ul li:hover i {
  /*color: #fff;*/
 /* background: red;*/
 /* -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);*/
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  left: 0;
  position: absolute;
  margin-left: 25px;
  text-align: center;
  color: #000;
  background: #fff;
  padding: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  background: #c7c5c6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.social ul li .fa-facebook-f{
  color: #31599e;
}
.social ul li .fa-twitter{
    color: #00aff2;
}
.social ul li .fa-linkedin-in{
  color: #0082b6;
}
.social ul li .fa-instagram{
  color: #ffffff;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social ul li .fa-youtube{
  color: #db0423;
}

.sec1{
  min-height: 770px;
  max-height: 770px;
}
/*end fixed social*/


/* Home page ends here*/




/*about css*/
.header-img{
    z-index: 999;
}
.header-img-text{
    z-index: 99999;
}
.about-header h2{
    font-weight: 300;
}
.color-red{
    color: #f63647;
}
.about-header p{
    font-family: lighttext;
    font-size: 17px;
}
.about-sec3-content h2 span::after{
    border: 1px solid #000;
}
.about-sec4-content{
    position: relative;
}
.about-sec4-content h2{
    font-size: 3.4rem;
    font-weight: bold;
}
.about-slide-title-cont{
    padding:30px 0px 15px 0px;
    border-top:3px solid transparent;
    background-color: #50ced8;
}
.about-slide-title-cont:hover{
    padding:30px 0px 15px 0px;
    border-top:3px solid #50ced8;
    background-color: #000;
}
.about-slide-title-cont h3{
    color:#fff;
    font-size:20px;
    text-align: center;
}
.about-slide-title-cont p{
    color:#fff;
    font-family: lighttext;
    font-size: 17px;
    text-align:center;
}
.about-bg-power{
    background-color: #70c857;
    padding: 65px 20px 20px 108px;

}
.about-bg-power h3{
    color: #fff;
    font-size: 20px;
}
.about-bg-power p{
    font-family: lighttext;
    font-size: 17px;
    color:#fff;
}
ul.tabs{
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
        ul.tabs li{
            background: none;
            color: #222;
            display: inline-block;
         /*   padding: 10px 15px;*/
            cursor: pointer;
                opacity: 0.6;
            margin-bottom: 45px;
        }

        ul.tabs li.current{
            background: #ededed;
            color: #222;
            border:1px solid red
        }

        .tab-content{
            display: none;
            /* background: #ededed; */
      /*      padding: 15px;*/
        }

        .tab-content.current{
            display: inherit;
        }

.img-overlap{
    position: relative;
    top: 70px;
    width: 600px;
    height: 500px;
    z-index: 1;
}
/*.footer{
    background-image: url('../img/9.jpg');
    height: 400px;
}
.footer ul{

    list-style-type: none;
}


.copy-right{
    clear: both;
}
.copy-right{
    color: #fff;
    text-align: center;
    padding-top: 50px;
}
.footer #map {
    height:400px;
    position: relative;
    overflow: hidden;
}*/
.modal-center{
  top: 50%;
  left: 28%;
  transform: translate(-50% ,-50%)!important;
}
.cust-modal-body{
  background-color: #215676;
  color: #fff;
}
.modalscroll{
  overflow: hidden!important;
}
.about-sec5-right-content {
    width: 666px;
    float: right;
    padding: 72px 60px 0 68px;
}
.about-sec5-left {
    position: relative;
    /* min-height: 310px; */
    /* max-height: 226px; */
    height: 392px;
    max-width: 604px;
    /* left: -125px; */
    min-width: 600px;
    top: 122px;
    background: #f7f7f7;
}
.about-sec4-tabs-current{
    position: absolute;
    left: -190px;
    max-width: 300px;
}
.divimg{
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: -190px;
    left: -200px;

}
.right-tabs-img{
    position: absolute;
    width: 145px;
}
.tab-link-img{
    margin-left: -130px;
    width: 145px;
    margin-top: 25px;
}


/*project page*/
.padd-3rem{
  padding: 3rem;
}
.ulfont{
    font-family: lighttext;
    font-size: 19px;    
}
.gallerylist{
  color: #527f96;
  height: 110px;
}
.gallerylist li a{
  color: #4c7289!important;
  font-size: 18px;
  font-family: lighttext;
}
.gallerylist  li a:hover{
  color: #ff0006!important;
  text-decoration: none;
}
.gallery-tab-list{
  float: left;
}
.statehide{
  display: none;
}
.sec1ProBottom{
  margin-bottom: 150px;
}
.sec3ProBottom{
  margin-bottom: 213px;
}
.sec4ProBottom{
  margin-bottom: 116px;
}
.sec9ProBottom{
  margin-bottom: 120px;
}
.sec2ProBottom{
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}
.sec10ProBottom{
  margin-bottom: 85px;
}
.sec7ProBottom{
  margin-bottom: 90px;
  position: relative;
}
.sec2ProBottom .proheading{
  position: absolute;
  left: 132px;
  top: 45px;
  z-index: 111;
}
.cust-tab-content{
  display: block!important;
  /* position: absolute; */
}
.card-body-content{
  position: absolute;
  bottom: 24px;
}
.banner-rightBtn{
  right: 14px;
  top: 300px;
  position: fixed;
  z-index: 9999;
  background-color: #fff!important;
}
.sec5ProBottom{
  margin-bottom: 125px;
}
.sec6ProBottom{
  margin-bottom: 100px;
}
.sec8ProBottom{
  margin-bottom: 125px;
}
.sec8left-img{
  position: relative;
}
.sec8Right{
  position: absolute;
  bottom: -50px;
  width: 962px;
  height: 300px;
  left: -150px;
  background: #f7f7f7;
}
.sec8Right-content{
  padding: 54px 70px 53px 158px;
}
.award-caption{
    width: 750px;
    height: 513px;
    background: #225776;
    float: right;
    padding: 45px 38px 0 40px;
    font-family: subheading-bold;
}
.color-green{
  color: #76d054;
}
.proheading h1{
  font-size: 3.4rem;
  font-weight: bold;
  font-family: heading-bold;
  /* text-shadow: 2px 3px 2px #afafaf; */
} 
.cust-nav-link{
  background-color: unset!important;
  color: #fff;
  font-size: 24px;
  font-family: subheading-bold;
}
.cust-nav-link:hover {
  color: #225977!important;
  font-weight: bold;
  text-decoration: underline!important;
}
.cust-caption{
  right: 4%;
  bottom: 32px;
}
.bor-right{
  border-right: 1px solid #ddd;
}
.cust-country-nav, .cust-country-nav .active{
    background-color: #fff!important;
    color: #000!important;
    font-family: subheading-bold;
    border-radius: unset!important;
    padding: 0 24px;
    font-size: 29px;
}
.cust-active .active{
  color: #fe051d!important;
  text-decoration: underline;
}
.sec8Right-content h3{
  font-family: subheading-bold;
    color: #fe051d;
    font-size: 2rem;
}
.cust-state-caption{
  right: 2%;
  bottom: -10px;
}
.state-block{
    background: #71c757;
    width: 245px;
    float: right;
    text-align: left;
    height: 365px;
    padding: 45px;
}
.project-sec1{
    background-image: url('../img/pro/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.project-sec1-content{
  padding: 0rem 7rem 0 4.4rem;
}
.project-sec1-content h1{
    font-size: 3.4rem;
    font-weight: bold;
    font-family: heading-bold;
    /* text-shadow: 2px 3px 2px #afafaf; */
}
.project-sec2-left-bottom{
    position: relative;
    /* min-height: 775px;
    max-height: 665px;*/
    top:55px;
    padding: 0 300px 18px 0;
    background: #f7f7f7;
    min-width: 950px;
    max-width: 950px;
    min-height: 417px;
    /* max-height: 813px!important; */
    margin-bottom: 59px;
} 
.project-sec2-left-bottom h3{   
   font-family: subheading-bold;
    color: #fe051d;
}

.project-sec10-left-bottom{
    position: relative;
    /* min-height: 775px;
    max-height: 665px;*/
    top:55px;
    /* padding: 0 300px 0 0; */
    background: #f7f7f7;
    min-width: 950px;
    max-width: 950px;
} 
.project-sec10-left-bottom h3{   
   font-family: subheading-bold;
    color: #fe051d;
}
.project-sec10-left-bottom-width{
  width: 520px;
  padding: 33px 45px 65px 40px;
}
.project-sec5-left-bottom-width {
    width: 547px;
    padding: 70px 40px;
}
.project-sec5-left-bottom {
    position: absolute;
    top: 55px;
    padding: 0 300px 0 0;
    background: #f7f7f7;
    min-width: 950px;
    max-width: 950px;
}
.project-sec5-left-bottom h3{
   font-family: subheading-bold;
   color: #fe051d;
   font-size: 2rem;
}
.project-sec5-left-bottom-width {
    width: 547px;
    padding: 70px 40px;
}
.design-philos{
    margin-left: -20px;
}
.project-sec2-left-img{
    z-index: 111;
    position: relative;
}
.project-sec2-right-bottom-width {
    position: absolute;
    min-height: 665px;
    max-height: 665px;
    bottom: 135px;
    padding: 62px 65px 0px 228px;
    left: -200px;
    background: #f7f7f7;
    min-width: 697px;
    max-width: 710px;
}
.project-sec2-right-bottom-width h3{
    font-family: subheading-bold;
    color: #fe051d;
    font-size: 2rem;
}
.technology-sec-content{
    position: relative;
    min-height: 580px;
    max-height: 620px;
    background: #f7f7f7;
}
.technology{
    position: absolute;
    bottom: 11px;
    padding: 0 30px;
}
.technology-heading {
    position: absolute;
    right: 50px;
}
    
.technology-heading h2{
    font-size: 3.7rem;
    font-weight: bold;
    font-family: heading-bold;
    /* text-shadow: 2px 2px 2px #325671; */
}
.about-sec3-content h2{
    font-family: subheading-bold;
    
}
.gallery{
    position: relative;
    bottom: -16px;
    min-height: 357px;
    padding: 0 50px;
    /* max-width: 1000px; */
    /* max-height: 405px; */
    padding: 52px 215px 0 55px;
    background: #f7f7f7;
    min-width: 1000px;
}
.gallery-heading{
    background: #50cfd8;
    position: absolute;
    right: 14px;
    min-height: 200px;
    max-height: 320px;
    max-width: 323px;
    z-index: 1111;
    width: 323px;
    top: -88px;
    padding: 30px 0;
}

.galley-list li {
    width: 28%;
    float: left;
}
.gallery-sec-heading h2{
    font-size: 3.7rem;
    font-weight: bold;
    font-family: heading-bold;
    /* text-shadow: 2px 2px 2px #325671; */
}
.gallery-heading ul li{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
}
.award-sec{
    background-image: url('../img/pro/7.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.award-sec-heading h2{
    font-size: 3.7rem;
    font-weight: bold;
    font-family: heading-bold;
    /* text-shadow: 2px 2px 2px #325671; */
}
.tab-block{
    display: block;
    /* background: #f7f7f7; */
    padding:0px;
}
.slider-tab{
    width: 1263px;
}
/*change background according to conten*/
.bg-color{
    background-color: #325772!important;
}
.bg-blue{
    background-image: url('../img/pro/5.png')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.bg-blue2{
    background-image: url('../img/pro/6.png')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.bg-purple{
    background-image: url('../img/pro/8.png')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.bg-purple2{
    background-image: url('../img/pro/3.png')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.bg-orange{
    background-image: url('../img/pro/2.png')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.bg-orange2{
    background-image: url('../img/pro/7.png')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.bg-green{
    background-image: url('../img/pro/4.png')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
/*change background according to conten*/

.cust-slick-control-left{
 width: 37px!important;
 height: 32px!important;
 bottom: -62px!important;
 top: unset!important;
 left: 234px!important;
 z-index: 1;
}
.cust-slick-control-next{
      width: 37px!important;
      height: 32px!important;
      bottom: -62px!important;
      top: unset!important;
      left: 271px!important;
}
.pra{
  width: 800px
}
/*project page



/*CSR Page*/
.csr-left-side {
    position: relative;
    top: 26px;
    width: 600px;
    right: 2px;
    z-index:9999;
    left: 15px;
}
.csr-left-side h1{
    font-size: 3.4rem;
    font-family: heading-bold;
    color: #325772;
    font-weight: bold;
    /* text-shadow: 2px 3px 2px #afafaf; */
    line-height: 1.1;
}
.csr-img-bottom-content{

margin-bottom: 45px;
}
.csr-leftside-slide-change {
    width: 600px;
    position: relative;
    left: -39px;
    top: 20px;
    z-index: 999;
    opacity: 1;
}
.csr-rightside-slide-change {
    position: absolute;
    left: 264px;
    width: 100%;
    z-index: 999;
    bottom: 0;
    /* top: 60px; */
}
.csr-rightside-slide-change .card{
    height: 308px;
    width: 262px!important;
    background-color: #1b4458;
    color: #fff;
    display: flex;
    box-shadow: none;
}
.csr-rightside-slide-change .slick-slide{
  width: 334px;
}
.csr-rightside-slide-change .card .card-body p{
  color: #fff;
}
.csr-cust-slick-control-next {
    width: 37px!important;
    height: 32px!important;
    bottom: -62px!important;
    top: unset!important;
    left: 271px!important;
}
.csr-cust-slick-control-left {
    width: 37px!important;
    height: 32px!important;
    bottom: -62px!important;
    top: unset!important;
    left: 234px!important;
    z-index: 1;
}
.csr-sec2bottom{
  position: relative;
  margin-bottom: 130px;
  top: 0;
}
.csr-sec1bottom{
  margin-bottom: 24px;
}
.csr-sec2BottomHeading{
  margin-bottom: 48px;
}
.csr-tab-btn{
  font-size: 22px;
  color: #2e2e2e!important;
  border-right: 1px solid #c9c9c9;
  border-radius: unset;
  box-shadow: unset!important;
}
.btn-pad-1{  
  padding: 1px 11px 0 11px;
}
.btn-pad-2{
  padding: 0 15px 0 0;
}
.csr-tab-btn:hover{
  color: #ff252f;
  text-decoration: underline;
}
.csr-img-bottom-content h3{
  font-family: subheading-bold;
  color: #fe051d;
  font-size: 2rem
}
.csr-rightside-slide-change .slider{
  height: 333px;
}
/*CSR Page*/
/*#investor-slider .owl-prev{
  position: relative;
  bottom: 20px;
}*/
/*#investor-slider .owl-prev img{
    position: relative;
    width: 37px;
    height: 32px;
    bottom: 9px;
    left: 17px;
}
#investor-slider .owl-next img{
    position: relative;
    width: 37px;
    height: 32px;
    bottom: 9px;
    left: 17px;
}*/
.about-slide-title-cont p{
  text-transform: capitalize;
}
.about-slide-title-cont h3{
  text-transform: uppercase;
}
.state-block-content{
    position: relative;
    bottom: -109px;
}
.fs-label-wrap {
  border: 1px solid #4eced7!important;
  border-radius: 5px;
  /*margin-left: 1.5rem;*/
}
.gallery-sec-heading .fs-wrap {
    width: 288px!important;
    text-align: center;
}
.sec7ProBottom-mob .fs-wrap {
    width: 288px!important;
    text-align: center;
}
.gallery-sec-heading .fs-dropdown {
  width: 250px!important;
  margin-top: 46px!important;
  left: 49%;
  transform: translate(-50%, -50%);
}

#investor-slider .owl-prev{
    position: relative;
    width: 37px;
    height: 32px;
    bottom: 11px;
    left: 4px;
}
#investor-slider .owl-next{
    position: relative;
    width: 37px;
    height: 32px;
    bottom: 11px;
    left: 12px;
}
#investor-slider .owl-prev img{
    width: 45px!important;
}
#investor-slider .owl-next img{
  width: 43px!important;
}
#mobile-gallery-slider .card{
  background-color: #1b4458;
  color: #fff;
}
    
#mobile-gallery-slider .owl-stage-outer{
  height: 185px;
}
#mobile-gallery-slider .owl-prev{
      position: absolute;
      top: -236px;
      right: 59px;
      font-size: 43px;
      background: #bdbdbd;
      height: 30px;
      width: 30px;
      border-radius: 50%;
}
#mobile-gallery-slider .owl-prev span{
    position: absolute;
    bottom: -12px;
    left: 7px;
}
#mobile-gallery-slider .owl-next{
      position: absolute;
      top: -236px;
      right: 18px;
      font-size: 43px;
      background: #bdbdbd;
      height: 30px;
      width: 30px;
      border-radius: 50%;
}
#mobile-gallery-slider .owl-next span{
    position: absolute;
    bottom: -12px;
    left: 10px;
}
#focus-slider01 .card-body{
    background-color: #1b4458;
    color: #fff;
  }
  #focus-slider02 .card-body{
    background-color: #1b4458;
    color: #fff;
  }
  #focus-slider03 .card-body{
    background-color: #1b4458;
    color: #fff;
  }

/*rts page*/

.rts-sec1bottom {
    margin-bottom: 70px;
}
.rts-left-side {
    position: relative;
    top: 26px;
    width: 600px;
    right: -17px;
    z-index: 9999;
}
.rts-left-side h1 {
    font-size: 3.4rem;
    font-family: heading-bold;
    color: #70c858;
    font-weight: bold;
    /* text-shadow: 2px 3px 2px #afafaf; */
    line-height: 1.1;
}
.rts-slider-bottom {
    background: #f7f7f7;
    position: relative;
    top: -20px;
    width: 1000px;
}
.rts-img-bottom-content {
    margin-bottom: 45px;
}
.form-label .md-form input[type=text]:focus:not([readonly])+label{
  font-size: 20px!important;
}
.form-label .fs-label-wrap{
  margin-left: 0px!important;
}
.form-label .fs-wrap {
    width: 105%!important;
}
.message-box{
  height: 60px!important;
}
.our-strengths {
    padding: 50px 0 50px 0;
    background: #f7f7f7;
}
.our-strengths .section-header {
    margin: 0 0 30px 0;
}
.section .section-content {

    line-height: 1.4;
}
.our-strengths .reasons .reason {
    margin: 0 0 3px 0;
    background: #50cdd7;
    padding: 10px 15px 10px 100px;
    position: relative;
    color: #fff;
    /*    max-width: 800px;*/
    min-height: 80px;
}
.our-strengths .reasons .reason .counter {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    text-align: center;
    /* font-family: helvetica; */
    font-size: 3em;
    font-weight: 600;
    line-height: 1.6;
    background: #fff;
    color: #ff3547;
}
.our-strengths .reasons .reason h3 {
    margin: 0 0 5px 0;
    font-size: 1.4em;
    font-weight: 600;
}
.our-strengths .section-header .section-title {
    margin: 0;
}

.section .section-title {
    font-family: 'FreightSansPro', 'Georgia';
    font-size: 38px;
    font-weight: 400;
    text-transform: none;
    margin: 0 0 30px 0;
}
.our-strengths .section-header .tagline {
    font-size: 1.1em;
}
.our-strengths .reasons{
  width: 100%;
}

.rts-sec4ProBottom {
    margin-bottom: 410px;
}
.rts-sec4-left-bottom {
    position: absolute;
    top: 55px;
    padding: 0 300px 0 0;
    background: #f7f7f7;
    min-width: 950px;
    max-width: 950px;
}
.rts-sec4-left-bottom-width {
    width: 535px;
    padding: 70px 40px;
}
.rts-sec4-left-bottom h3 {
    font-family: subheading-bold;
    color: #fe051d;
    font-size: 1.7rem;
}
.rts-sec5{  
  margin-bottom: 70px;
}
.rts-sec2bottom{
  margin-bottom: 70px;
}
.rts-sec5Bottom{
  margin-bottom: 325px;
}    
.rts-sec5-left-img {
    z-index: 111;
    position: relative;
}
.rts-sec5-left-img img{
      height: 600px;
}
.rts-sec5-right-bottom-width{
    position: absolute;
    min-height: 913px;
    max-height: 665px;
    top: -100px;
    padding: 62px 65px 0px 228px;
    left: -200px;
    background: #f7f7f7;
    min-width: 697px;
    max-width: 710px;
}
.rts--sec5-right-bottom-width h3 {
    font-family: subheading-bold;
    color: #fe051d;
    font-size: 2rem;
}
.feedback {
  background-color: #215676;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #215674;
}

#mybutton {
  position: fixed;
  bottom: -4px;
  right: 10px;
  z-index: 111;
}
.rts-sec3bottom{
  margin-bottom: 85px;
}

#focus-slider01 .owl-prev {
    position: absolute;
    top: -216px;
    right: 59px;
    font-size: 43px;
    background: #bdbdbd;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#focus-slider01 .owl-prev span {
    position: absolute;
    bottom: -12px;
    left: 7px;
}
#focus-slider01 .owl-next {
    position: absolute;
    top: -216px;
    right: 18px;
    font-size: 43px;
    background: #bdbdbd;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#focus-slider01 .owl-next span {
    position: absolute;
    bottom: -12px;
    left: 10px;
}

#focus-slider02 .owl-prev {
    position: absolute;
    top: -215px;
    right: 59px;
    font-size: 43px;
    background: #bdbdbd;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#focus-slider02 .owl-prev span {
    position: absolute;
    bottom: -12px;
    left: 7px;
}
#focus-slider02 .owl-next {
    position: absolute;
    top: -216px;
    right: 18px;
    font-size: 43px;
    background: #bdbdbd;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#focus-slider02 .owl-next span {
    position: absolute;
    bottom: -12px;
    left: 10px;
}

#focus-slider03 .owl-prev {
    position: absolute;
    top: -305px;
    right: 59px;
    font-size: 43px;
    background: #bdbdbd;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#focus-slider03 .owl-prev span {
    position: absolute;
    bottom: -12px;
    left: 7px;
}
#focus-slider03 .owl-next {
    position: absolute;
    top: -305px;
    right: 18px;
    font-size: 43px;
    background: #bdbdbd;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.footer .commonul li a {
color: #fff;}
#focus-slider03 .owl-next span {
    position: absolute;
    bottom: -12px;
    left: 10px;
}

.rts-leftside-slide-change {
    width: 600px;
    position: relative;
    left: -39px;
    top: 20px;
    z-index: 999;
    opacity: 1;
}
.rts-rightside-slide-change {
    position: absolute;
    left: 268px;
    width: 100%;
    z-index: 999;
    bottom: 0;
    top: 60px;
}
.rts-rightside-slide-change .slider {
    height: 385px;
}
.rts-rightside-slide-change .slick-slide {
    width: 296px!important;
}
.rts-rightside-slide-change .card {
    height: 365px;
    width: 245px!important;
    background-color: #1b4458;
    color: #fff;
    display: flex;
    box-shadow: none;
}
/*rts page ends*/


.u-floatLeft
{
  display:none!important ;
}

.content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  height: 244px;
  overflow: hidden;
}

.content .content-overlay {
  background: #77cbd6;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 0.7;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p, .content-details h2{
  color: #fff;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}
/*.bodyscroll{
  overflow: scroll!important;
}*/
.bodyhidden{
  overflow: hidden!important;
}

 .statehide-show{
    display: none;
    width: 1157px;
    margin-top: 40px;
    margin-bottom: -40px;

   }
   .left-side-state{
      position: relative;
      width: 600px;
      float: left;
   }
   .right-state{
   position: absolute;
    left: 43px;
    /* width: 500px; */
    /* float: left; */
    top: 50%;
    left: 74%;
    transform: translate(-50%, -50%);
   }
   .cust-half-slide .item{
  opacity:0.4;
  transition:.4s ease all;
  margin:0 20px;
  transform:scale(.8);
}
.inner{position:absolute; bottom:30px; left:0; right:0; text-align:center;}
.inner a{color:#fff; text-decoration:none; border-bottom:2px solid rgba(255,255,255,0.5); transition:.3s ease border-color}
.inner a:hover{border-color:#fff;}
.black .inner a{color:#000; border-color:rgba(0,0,0,0.4)}
.black .inner a:hover{border-color:#000;}

.owl-carousel:after{content:""; display:block; position:absolute; width:8%; top:0; bottom:0; left:50%; margin-left:-4%; pointer-events: none;background-size:100% auto;
}

.owl-controls{position:absolute; margin-top:300px;}

.leftside-slide-change{
    width: 600px;
    position: relative;
    left: -39px;
    top:20px;
    z-index: 999;
    opacity: 1;
}
.rightside-slide-change{
    position: absolute;
    left: 268px;
    width: 100%;
    z-index: 999;
    bottom: 0;
    top: 60px;
}
.rightside-slide-change .slider {
  height: 385px;;
}
.rightside-slide-change .card{
     height: 365px;
  width: 245px!important;
  background-color: #1b4458;
  color: #fff;
  display: flex;
  box-shadow: none;
}
.rightside-slide-change .slick-slide{
  width: 296px!important;
}
.rightside-slide-change .card .card-body p{
  color: #fff;
}
.toggle-content{
  width: 800px;
}
.text-color-black{
  color: #000;
}
.probtn-hide{
  display: none!important;
}
 .about-owl-button .owl-nav{
  position: absolute;
  bottom: 10px;
  right: 13px;
}
.about-owl-button .owl-next{
  width: 35px;
    height: 35px;
    background: aliceblue!important;
    border-radius: 50%!important;
}
.about-owl-button .owl-next:hover{
   color: #000!important;
}
.about-owl-button .owl-next span{
    font-weight: bold;
    font-size: 22px;
    margin-left: 3px;
    text-align: center;
    vertical-align: text-bottom;
}
.about-owl-button .owl-next span:hover{
   
}
.about-owl-button .owl-prev{
  display: none!important;
}
.heading-title h3{
  font-family: subheading-bold;
  color: #fe051d;
}
.about-sec-8{
margin-bottom:235px;
}
.about-sec-7{
margin-bottom:100px;
}
.color-red2{
      color: #f63647!important;
      border-bottom: 1px solid red;
}
.content-about {
  position: relative;
 
}
.content-about .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height:74%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.tab-bgcolor{
  background-color:#f7f7f7;
  margin-right: 20px;
}
.content-about:hover .content-overlay{
  opacity: 1;
  cursor:pointer;
}
.content-about:hover #myModal{
 display:block;
}
.about-sec4-content h2 {
    font-size: 3.4rem;
    font-weight: bold;
   /* padding-left: 20px;*/
    font-family: heading-bold;
}
.about-slide-title-cont h3{
  text-transform:uppercase;
}
.about-sec3 h2{
  font-weight:600;
}
.right-tabs-img {
  position: absolute;
    width: 127px;
    left: 20px;
    top: 75px;
}
.divimg {
    width: 300px;
    height: 300px;
    position: absolute;
    left: -187px;
    top: -14px;
}
    .about-sec-1{
  margin-bottom:40px
}
.about-sec-2{
  margin-bottom:40px
}
.about-sec-3{
  margin-bottom:85px
}
.slider-bottom {
    background: #fafafa;
    position: relative;
    top: -20px;
    width: 95%;
}
.about-left-bottom {
    position: absolute;
    bottom: -54px;
    z-index: 111;
}
.about-left-bottom img {
    width: 666px;
}
.about-sec5-right {
    background-color: #71c858;
    min-height: 430px;
    max-height: 375px;
    color: #fff;
}
/*.modal-dialog {
    max-width: 1132px;
    margin: 6.75rem auto;
}*/

ul.tabs1 li{
    background: none;
    color: #222;
    display: inline-block;
 /*   padding: 10px 15px;*/
    cursor: pointer;
     opacity:1;
    margin-bottom: 45px;
    font-size:25px;
    font-weight: 700;
}
.about-sec-tab{
  position: absolute;
  top: 223px;
  right: 140px;
}
.about-sec4-content p{
  padding-right: 137px;
}
.mobile-sec{
  display:none;
}
.about-sec-tab{
  position: absolute;
  top: 223px;
  right: 140px;
}
.about-sec4-content p{
  padding-right: 137px;
}
.mobile-sec{
  display:none;
}
.about-left-bottom {
    position: absolute;
    bottom: -54px;
    z-index: 111;
}
.about-left-bottom img {
    width: 666px;
}
.about-sec5-right {
    background-color: #71c858;
    min-height: 430px;
    max-height: 375px;
    color: #fff;
}
    .about-sec-1{
  margin-bottom:40px
}
.about-sec-2{
  margin-bottom:40px
}
.about-sec-3{
  margin-bottom:85px
}
.slider-bottom {
    background: #fafafa;
    position: relative;
    top: -20px;
    width: 95%;
}
.about-sec4-content h2 {
    font-size: 3.4rem;
    font-weight: bold;
   /* padding-left: 20px;*/
    font-family: heading-bold;
}
.about-slide-title-cont h3{
  text-transform:uppercase;
}
.about-sec3 h2{
  font-weight:600;
}
.right-tabs-img {
  position: absolute;
    width: 127px;
    left: 20px;
    top: 75px;
}
.divimg {
    width: 300px;
    height: 300px;
    position: absolute;
    left: -187px;
    top: -14px;
}
.content-about {
  position: relative;
 
}
.content-about .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height:74%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.tab-bgcolor{
  background-color:#f7f7f7;
  margin-right: 20px;
}
.content-about:hover .content-overlay{
  opacity: 1;
  cursor:pointer;
}
.content-about:hover #myModal{
 display:block;
}


.color-red2{
      color: #f63647!important;
      border-bottom: 1px solid red;
}
.heading-title h3{
  font-family: subheading-bold;
  color: #fe051d;
}
.about-sec-8{
margin-bottom:235px;
}
.about-sec-7{
margin-bottom:100px;
}

#global-btn{
  display: none;
}
.menu-bottm-list-left{
  margin-left: 59px;

}
.menu-bottm-list-left li{
  list-style: none;
  float: left;
  margin: 8px;
}

.menu-bottm-list-right li{
  list-style: none;
  float: left;
  margin: 12px;
}
.color-insta{
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  color: #fff;
}
.color-linkedin{
  color: #0082b6;
}
.color-twitter{
  color: #00aff2;
}
.color-fb{
  color: #31599e;
}

.menu-bottm-list-right li img{
  width: 20px;
}
.menu-social{
  margin-right: 6%;
}
.menu-bottm-list-left li a{
  font-size: 1.2rem;
}