/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Oct-2019, 20:38:21
    Author     : apple
*/

/* GENERAL STYLES */
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}


.hamburger {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    z-index: 5000000;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%,-50%);
}

.hamburger .bar {
    padding: 0;
    width:30px;
    height: 2px;
    background-color: #000;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
    cursor: pointer;
}

.bar1 {
    top: 7px;
}

.bar2,
.bar3 {
    top: 17.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

/* HAMBURGER 3 */

.hamburger3 .bar1 {
    transform-origin: 5%;
}

.hamburger3 .bar4 {
    transform-origin: 5%;
}

.checkbox3:checked + label > .hamburger3 > .bar1{
    transform: rotate(45deg);
    height: 3px;
    width: 30px;
}

.checkbox3:checked + label > .hamburger3 > .bar3{
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar2{
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar4{
    transform: rotate(-45deg);
    height: 3px;
    width: 30px;
}

.copy-right {
    padding-top:20px;
}
.copy-right p {
    font-size: 12px;
    font-family: lighttext;
}
.footer hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #fff;
    width: 57%;
    margin-left: 39px;
}

.social ul .facebook a span{
    position: absolute;
    top: -3px;
    left: -45px;
    font-size: 15px;
    display: -ms-flexbox;
    display: flex;
    display: none;
    width: 1px;
    z-index: 1;
}
.social ul .twitter a span{
    position: absolute;
    top: 35px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    visibility: hidden;
    width: 1px;
    z-index: 1;
}
.social ul .facebook :hover span{
    position: absolute;
    top: -3px;
    left: -45px;
    font-size: 15px;
    font-size: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    transform: translateX(13px);
    display: block;
    z-index: 1;
    transition: transform 300ms ease-in,opacity 300ms ease-in 30ms;
}
.social ul .twitter :hover span{
    position: absolute;
    top: 34px;
    font-size: 15px;
    right: 36px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    transform: translateX(13px);
    visibility: visible;
    z-index: 1;
    transition: transform 300ms ease-in,opacity 300ms ease-in 30ms;
}
.social ul .linkedin a span{
    position: absolute;
    top: 80px;
    font-size: 15px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    visibility: hidden;
    width: 1px;
    z-index: 1;
}
.social ul .linkedin :hover span{
    position: absolute;
    top: 70px;
    font-size: 15px;
    right: 36px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    transform: translateX(13px);
    visibility: visible;
    z-index: 1;
    transition: transform 300ms ease-in,opacity 300ms ease-in 30ms;
}
.social ul .instagram a span{
    position: absolute;
    top: 97px;
    font-size: 15px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    visibility: hidden;
    width: 1px;
    z-index: 1;
}
.social ul .instagram :hover span{
    position: absolute;
    top:107px;
    font-size: 15px;
    right: 36px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    transform: translateX(13px);
    visibility: visible;
    z-index: 1;
    transition: transform 300ms ease-in,opacity 300ms ease-in 30ms;
}
.social ul .youtube a span{
    position: absolute;
    top: 131px;
    font-size: 15px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    visibility: hidden;
    width: 1px;
    z-index: 1;
}
.social ul .youtube :hover span{
    position: absolute;
    top: 144px;
    font-size: 15px;
    right: 36px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    transform: translateX(13px);
    visibility: visible;
    z-index: 1;
    transition: transform 300ms ease-in,opacity 300ms ease-in 30ms;
}
/***********footer***********/

.backgroundRed1{
    background-color: #b36b00;
    border: 1px solid #215875;
}
.backgroundRed2{
    background-color: #e68a00;
    border: 1px solid #215875;
}
.backgroundRed3{
    background-color: #008000;
    border: 1px solid #215875;
}
.backgroundRed4{
    background-color: #ff6666;
    border: 1px solid #215872;
}
.backgroundRed5{
    background-color: #66b3ff;
    border: 1px solid #215875;
}

.help-block {
    font-size: 12px !important;
    color: red !important;
}
.changespasswordbtn{
    z-index: 1;
    position: absolute;
    left: 18px;
    top: 15px;
    bottom: 0;
    right: 0;
    background: #38b9c4;
    font-size:16px;
    font-family: FreightSansProMedium;
    cursor: pointer;
    border-radius: 52px;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    height: 38px;
    width: 190px;
    color: #fff;
    text-align: center;
    line-height:39px;
}
/*.uplaodenable{
    display:none;
}*/

.mt-38 {
    margin-top: 38px;
}

.cursor-pointer {
    cursor: pointer
}