.addup{
  transform: rotate(223deg)!important;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}
#OtherProductspecifydiv{
  display:none;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}
.hidecin{
  margin-top: -30px;

}
.dropstoptop{
  transform: translate3d(6px, 40px, 0px)!important;
}

#primaryservicetype{
  display:none;
  padding-top: 38px;
}
#OtherProductspecify12{
  display:none;
  padding-top: 38px;
}
#secondaryhide222222{
  display:none;
  padding-top: 38px;
}
#PrimaryCommodityhide{
display:none;
padding-top: 40px;
}
.checked-img1{
display:none
}

.customsingedropdowncon .btn { 
   padding: 6px 6px 6px 6px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  border: 1px solid #50ceda;
  text-align: left;
  height: 40px;
  font-size: 16px;
  margin-top: 0px;
  font-family: FreightSansProMedium;
  text-transform: capitalize;
}
.customsingedropdowncon ul li{
  padding-bottom:0px; 
}
.customsingedropdowncon .btn-select { position:relative; }
.customsingedropdowncon .btn-select:after {
/* content:"";
display: block; 
position:absolute; top:50%; right:10px; margin-top:-2px;  
width: 0;
height: 0;
border-top: 4px solid #777;
border-right: 4px solid transparent;
border-left: 4px solid transparent;  */
}
.customsingedropdowncon .dropdown-menu-select { 
  padding: 0;
  margin-top: -2px;
  width: 100%;
  border-radius: 0 0 2px 2px;
  border-color: #50ceda;
  padding-top: 19px;
  padding-left: 6px;
  font-family: FreightSansProMedium;
}
.customsingedropdowncon .primary { 
  height:250px;
  overflow-y: auto;
}
.customsingedropdowncon .dropdown-radio { 
display:block;
position:relative;
margin:0;
width:100%;
text-overflow:ellipsis;
cursor:pointer;
height:30px;
font-family: FreightSansProMedium;
}
.customsingedropdowncon .dropdown-radio input { 
  position: absolute;
  left: 13px;
  top: 5px;
  font-family: FreightSansProMedium;
}
.customsingedropdowncon .dropdown-radio span{ 
  padding-left: 27px;
  font-family: FreightSansProMedium;
  font-size: 16px;
  margin-top: -37px;
  display: block;
}

.customsingedropdowncon input[type='checkbox']:checked{
  height:15px;
  width: 15px;
  background:('../img/tick-icon.img');
  font-family: FreightSansProMedium;
}
.customsingedropdowncon  input[type=checkbox] {
  display: block;
  width:20px;
  height:20px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  font-family: FreightSansProMedium;
}
.btn:active, .btn:focus, .btn:hover {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  outline: 0;
}
.customsingedropdowncon  input[type=checkbox] + label {
  display: inline-block;
  padding: 0 0 0 0px;
  background: url(../img/checkbox.png) no-repeat;
  height:20px;
  width:20px;
  background-size:20px 20px;
  font-family: FreightSansProMedium;
}

.customsingedropdowncon  input[type=checkbox]:checked + label {
  display:inline-block;
  background:url("../img/tick-icon.png") no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  font-family: FreightSansProMedium;
}
.addup{
transform: rotate(223deg)!important;
}
#preloader {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #fff;
/* change if the mask should have another color then white */
z-index: 99;
/* makes sure it stays on top */
}
#OtherProductspecifydiv{
display:none;
}
#status {
width: 200px;
height: 200px;
position: absolute;
left: 50%;
/* centers the loading animation horizontally one the screen */
top: 50%;
/* centers the loading animation vertically one the screen */
background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
/* path to your loading animation */
background-repeat: no-repeat;
background-position: center;
margin: -100px 0 0 -100px;
/* is width and height divided by two */
}
.dropstoptop{
transform: translate3d(6px, 40px, 0px)!important;
}



/*font family*/


@font-face {
  font-family:FreightSansProBold;
  src: url("../font/GarageFonts - FreightSans Pro Bold.otf");
}
@font-face {
  font-family:FreightSansProSemibold;
  src: url("../font/GarageFonts - FreightSans Pro Semibold.otf");
}
@font-face {
  font-family:FreightSansProMedium;
  src: url("../font/GarageFonts - FreightSans Pro Medium.otf");
}
@font-face {
  font-family:FreightSansProBook;
  src: url("../font/GarageFonts - FreightSans Pro Book.otf");
}
@font-face {
  font-family:FreightTextProLight;
  src: url("../font/GarageFonts - FreightText Pro Light.otf");
}










.customsingedropdowncon .primary { 
  height:250px;
  overflow-y: auto;
}
.editprofilehidepasswordsec{
  display: none;
}
.checked-img1{
  display:none
}
.changespassword{
  padding:15px 0px 15px 0px
}
.col-md-10 span{
  font-size: 15px;
  font-family: FreightSansProBook;
}

.customsingedropdowncon ul li{
  padding-bottom:0px!important; 
}

.fa-plus, .fa-minus{  -webkit-transition: .6s all ease-out;
  transition: .6s all ease-out;}
.fa-minus{
	opacity:1;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-plus{  opacity:1;
  -webkit-transform: rotate(0deg);
transform: rotate(0deg);}
.signupicon{width:20px;position: absolute;right:19px;top: 3px;}
.notificationicon{
	width: 20px;
    margin-left: 5px;
    position: absolute;
    right: 13px;
    top: 3px;}

.customsingedropdowncon .btn { 
    padding: 6px 6px 6px 6px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    border: 1px solid #50ceda;
    text-align: left;
    height: 40px;
    margin-top: 0px;
    font-family: FreightSansProMedium;
    text-transform: capitalize;
    font-size:16px;
  }
  .customsingedropdowncon ul li{
    padding-bottom:0px; 
  }
  .customsingedropdowncon .btn-select { position:relative; }
  .customsingedropdowncon .btn-select:after {
  /* content:"";
  display: block; 
  position:absolute; top:50%; right:10px; margin-top:-2px;  
  width: 0;
  height: 0;
  border-top: 4px solid #777;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; */
}
.customsingedropdowncon .dropdown-menu-select { 
    padding: 0;
    margin-top: -2px;
    width: 100%;
    border-radius: 0 0 2px 2px;
    border-color: #50ceda;
    padding-top: 19px;
    padding-left: 6px;
    font-family: FreightSansProMedium;
  }
.customsingedropdowncon .dropdown-radio { 
  display:block;
  position:relative;
  margin:0;
  width:100%;
  text-overflow:ellipsis;
  cursor:pointer;
  height:30px;
  font-family: FreightSansProMedium;
}
.customsingedropdowncon .dropdown-radio input { 
    position: absolute;
    left: 13px;
    top: 5px;
    font-family: FreightSansProMedium;
  }
  .customsingedropdowncon .dropdown-radio span{ 
    padding-left: 27px;
    font-family: FreightSansProMedium;
    font-size: 16px;
    margin-top: -37px;
    display: block;
  }

  .customsingedropdowncon input[type='checkbox']:checked{
    height:15px;
    width: 15px;
    background:('img/tick-icon.img');
    font-family: FreightSansProMedium;
  }
  .customsingedropdowncon  input[type=checkbox] {
    display: block;
    width:20px;
    height:20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    font-family: FreightSansProMedium;
}

.customsingedropdowncon  input[type=checkbox] + label {
    display: inline-block;
    padding: 0 0 0 0px;
    background: url(../img/checkbox.png) no-repeat;
    height:20px;
    width:20px;
    background-size:20px 20px;
    font-family: FreightSansProMedium;
}

.customsingedropdowncon  input[type=checkbox]:checked + label {
    display:inline-block;
    background:url(../img/tick-icon.png) no-repeat;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    font-family: FreightSansProMedium;
}
.addup{
  transform: rotate(223deg)!important;
}
/******accordation */
/* .hfe-login-sidebar .accordion {
  background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding-bottom: 10px;
    width: 100%;
    padding-top: 15px;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #21526f;
    font-size: 20px;
    font-family: FreightSansProBook;
}

.hfe-login-sidebar .active, .accordion:hover {
  border-bottom:1px solid #21526f;
}
.hfe-login-sidebar .accordion:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.hfe-login-sidebar .active:after {
  content: "\2212";
}
.hfe-login-sidebar .panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.commonedithead {
    font-family: FreightSansProBold;
    font-size: 17px!important;
} */
.onefilecomplete{
    clear: both;
    padding-top:10px;
}
.sidebar-baraccod{
       
    }
    .accordion .fa{
        margin-right: 0.5rem;
    }
	.hfe-login-sidebar .card-header {
		padding:15px 0px 15px 0px;
		margin-bottom: 0;
		background-color:transparent;
		border-bottom:1px solid #21526f;
		position:relative;
		font-size: 20px;
		font-family: FreightSansProBook;
}
	.commonfont{
		color: #fff!important;
		padding: 0px;
		width: 100%;
		position: relative;
		font-size: 20px;
		font-family: FreightSansProBook;
	}
	.commonfont .fa{
    position: absolute;
    right: 0;
    top: 7px;
    font-size: 15px;
}
.vender-text{
  font-family:FreightSansProMedium;
}
.commonedithead{
  font-family:FreightSansProBold;
  font-size:23px!important;
}
.leftdiv{
  float:left;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 16px;
  font-family: FreightSansProMedium;
}
.addbgcolor{
    background: #fff!important;
    color:green!important;
    border: 1px solid green;;
    animation-name: underline; /* "calling" the animation */
    animation-duration: .5s; /* adjust to your needs */
    animation-timing-function: ease; /* also experiment with other values */
    animation-fill-mode: forwards; 
    font-family: FreightSansProMedium;

}

@keyframes underline { /* lets call it the "underline" */
0%   {width:0} /* start width */
100% {width:100%} /* end width */
}


/* Safari 4.0 - 8.0 */
/* @-webkit-keyframes example {
from {background-color: red;}
to {background-color: yellow;}
} */

/* Standard syntax */
/* @keyframes example {
from {background-color: red;}
to {background-color: yellow;}
} */
  .wrap-custom-file {
  position: relative;
  display: inline-block;
  width: 198px;
  height:39px;
  text-align: center;
  border-radius: 50px;
  background: #38b9c4;
  
  }
.wrap-custom-file input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  overflow: hidden;
  opacity: 0;
  }
.wrap-custom-file label {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #38b9c4;
  font-size: 20px;
  font-family: FreightSans-Pro-Semibold;
  cursor: pointer;
  border-radius: 52px;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  height:39px;
}
.wrap-custom-file label span {
 display: block;
 line-height: 42px;
  font-size:16px;
  color: #fff;
  transition: color 0.4s;
  font-family: FreightSansProMedium;
}
.wrap-custom-file label .fa {
position: absolute;
bottom: 1rem;
left: 50%;
-webkit-transform: translatex(-50%);
transform: translatex(-50%);
font-size: 1.5rem;
color: lightcoral;
transition: color 0.4s;
}
/* .wrap-custom-file label:hover {
-webkit-transform: translateY(-1rem);
transform: translateY(-1rem);
} */
/* .wrap-custom-file label:hover span, .wrap-custom-file label:hover .fa {
color: #333;
} */
.wrap-custom-file label.file-ok {
background-size: cover;
background-position: center;
}
.wrap-custom-file label.file-ok span {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 0.3rem;
font-size: 1.1rem;
color: #000;
background-color: rgba(255, 255, 255, 0.7);
}
.wrap-custom-file label.file-ok .fa {
display: none;
}
.onefilecomplete{
  font-style: italic;
  font-size:10px;
  text-align: center;
  width: 198px;
  font-weight: 500;
  margin-top:-10px;

}
.onefilecomplete1{
  color: green;  
}
.onefilecomplete2{
  color: green;  
}
.onefilecomplete3{
  color: green;  
}
.onefilecomplete4{
  color: green;  
}
.onefilecomplete5{
  color: green;  
}
.onefilecomplete4{
  color: green;  
}
.onefilecomplete6{
  color: green;  
}
.onefilecomplete7{
  color: green;  
}
.onefilecomplete8{
  color: green;  
}
.onefilecomplete9{
  color: green;  
}
.onefilecomplete10{
  color: green;  
}
.onefilecomplete11{
  color: green;  
}
.onefilecomplete12{
  color: green;  
}
.onefilecomplete13{
  color: green;  
}
.onefilecomplete14{
  color: green;  
}
.onefilecomplete15{
  color: green;  
}
.onefilecomplete16{
  color: green;  
}
.onefilecomplete88{
  color: green;  
}
.onefilecomplete78{
  color: green;  
}
.onefilecomplete97{
  color: green;  
}
.onefilecomplete90{
  color: green;  
}
.onefilecomplete99{
  color: green;  
}
 /******vendor page css*****/
 .hfe-vendor-sidebar {
  padding: 15px 0px 0px 0px;
  margin-bottom: 50px;
}
.hfe-login-middle p{
  font-family: FreightSansProBook;
  font: size 18px;
  color:#000;
}
.hfe-login{
  display: table;
  width:100%;
}
.hfe-login .col-md-3{
  display: table-cell;
  background-color: #225776;
  margin-bottom:50px;

} 
.hfe-login .col-md-9{
  margin-bottom:50px;
  padding-left:30px;
}

.hfe-vendor-sidebar h1{
  font-size:45px;
  font-weight: bold;
  color: #fff;
  font-family:FreightSansProBold;
  text-transform: uppercase;
}
.hfe-vendor-sidebar p{
color:#fff;
font-size:18px;
font-family:FreightSansProBook;
}
.hfe-vendor-sidebar .register-btn button {
  width: 175px;
  height: 42px;
  border-radius: 30px;
  border: none;
  background: #38b9c4;
  color: #fff;
  font-size: 20px;
  text-align: left;
  font-family: FreightSans-Pro-Semibold;
}
.hfe-vendor-sidebar .register-btn button img {
  width: 33px;
  margin-right: 21px;
}
/*****************Start of login page css********/
.hfe-login-sidebar{
  background-color:#225776;
  padding: 15px 0px 100px 0px;
  margin-bottom:50px;
}
.hfe-login-sidebar  h1{
  font-size:40px;
font-weight: bold;
color: #fff;
font-family:FreightSansProBold;
text-transform: uppercase;
}
.hfe-login-sidebar p{
  padding:0px 0px 50px 0px;
  color:#fff;
  font-size:16px;
  font-family: FreightSansProBook;
}
.hfe-login-middle{
  margin-top:40px;
}
.fs-option, .fs-search, .fs-optgroup-label{
  border:none;
}
.hfe-login-middle .md-form {
position: relative;
margin-top: 1rem;
margin-bottom:.5rem;
width:93%;
}
.hfe-login-sidebar .register-btn button{
width: 175px;
height: 42px;
border-radius: 30px;
border: none;
background: #38b9c4;
color: #fff;
font-size: 20px;
text-align: left;
font-family:FreightSansProBold;
}
.hfe-login-sidebar .register-btn button img{
width: 33px;
margin-right: 21px;
}
.hfe-login-middle .md-form input[type=text]{
border: 1px solid #50ceda;
border-radius:4px;
padding-left:16px;
font-family: FreightSansProMedium;
font-size:16px
}
.hfe-login-middle .md-form input[type=text]:focus:not([readonly]){
border: 1px solid #50ceda;
box-shadow:0 1px 0px 0px #50ceda;
border-radius:4px;
background:#fff;
font-weight: 500;
font-size:24px;
font-family:FreightSans-Pro-Semibold;

}
.hfe-login-middle .md-form label{
  top: -2px;
  left: 15px;
  font-size: 16px;
  font-family: FreightSansProMedium;

}
.hfe-login-middle .md-form label.active {
  -webkit-transform: translateY(-14px) scale(.8);
  -ms-transform: translateY(-14px) scale(.8);
  transform: translateY(-14px) scale(.8);
  font-size:24px;
  color:#225776;
  font-family:FreightSans-Pro-Semibold;
  background: #fff;
  margin-top: -7px;
  padding: 0px 1px 0px 2px;
}
.hfe-login-middle .md-form input[type=text]:focus:not([readonly])+label{
color:#225776;
background:#fff;
margin-left:5px;
font-size:24px;
font-family:FreightSans-Pro-Semibold;
}
.hfe-login-middle .md-form input[type=password]:focus:not([readonly]){
border: 1px solid #50ceda;
box-shadow:0 1px 0px 0px #50ceda;
border-radius:4px;
font-weight: 500;
font-size:24px;
font-family:FreightSans-Pro-Semibold;
}
.hfe-login-middle .md-form input[type=password]:focus:not([readonly])+label{
color:#225776;
background:#fff;
margin-left:5px;
font-size:25px;
font-family:FreightSans-Pro-Semibold;
}
.hfe-login-middle .md-form [type=password]{
border: 1px solid #50ceda;
border-radius:4px;
padding-left:16px;
font-family: FreightSansProMedium;
}
.hfe-reg-vender-middle .login-btn{
padding-top:50px;
}
.hfe-reg-vender-middle .login-btn button{
width: 137px;
height: 41px;
border-radius: 30px;
border: none;
background: #38b9c4;
color: #fff;
font-size:20px;
text-align: left;
font-family:FreightSansProBold;
}
.hfe-reg-vender-middle .login-btn button img{
width: 28px;
margin-right: 21px;
}
.hfe-reg-vender-middle h2{
color: #225776;
font-size:45px;
font-family:FreightSansProBold;

}
/*****************end of login page css********/
.hfe-login-sidebar ul{
  list-style:none;
  padding-left: 15px!important;
}
.hfe-login-sidebar ul li{
    color: #fff;
    position: relative;
    border-bottom: 1px solid #21526f;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-size:20px;
    font-family: FreightSansProBook;

}
.hfe-login-sidebar ul{
  counter-reset: section;
}
.hfe-login-sidebar ul li::before {
  counter-increment: section;
  content: counter(section);
  display: inline-block;
  color: white;
  border:1px solid #fff;
  position:absolute;
  width:30px;
  height:30px;
  border-radius: 50%;
  text-align: center;
  margin-right:10px;
  font-size:14px;
  left:0px;
  padding: 2px;
}
.hfe-login-sidebar ul li .sidelistcircleg{
    width: 8px;
    height: 8px;
    background: #4cfa00;
    position: absolute;
    border-radius: 50%;
    top: 42px;
    left: 21px;
}
.hfe-login-sidebar ul li .sidelistcircleo{
    width: 8px;
    height: 8px;
    background: #f88e05;
    position: absolute;
    border-radius: 50%;
    top: 42px;
    left: 21px;
}

.hfe-login-sidebar ul li:last-child{
  border-bottom:none;
}
  .hfe-login-sidebar{
      background-color:#225776;
      padding: 15px 0px 0px 0px;
      margin-bottom:50px;
    }
    .hfe-reg-vender-middle {
      margin-top: 40px;
    }
    .hfe-reg-vender-middle .md-form {
    position: relative;
    margin-top: 1rem;
    margin-bottom:.5rem;
    width:100%;
}

.hfe-login-sidebar .register-btn button img{
    width: 33px;
    margin-right: 21px;
}
.hfe-reg-vender-middle .md-form input[type=text]{
  border: 1px solid #50ceda;
  border-radius:4px;
  padding-left:16px;
  font: 400 13px Aerial;
  height: 30px;
}
.hfe-reg-vender-middle .md-form input[type=text]:focus:not([readonly]){
  border: 1px solid #50ceda;
  box-shadow:0 0px 0px 0px #50ceda;
  border-radius:4px;
  font-family:FreightSansProSemibold;

}
.hfe-reg-vender-middle .md-form label{
  top:-3px;
  left:15px;
  font-family:FreightSansProMedium;
}
.hfe-reg-vender-middle .md-form input[type=text]:focus:not([readonly])+label{
  color:#225776;
  background:#fff;
  margin-left:5px;
  font-size:26px;
  font-family:FreightSansProSemibold;
  top:-10px;
  padding-left:5px;
  padding-right: 5px;
}
.hfe-reg-vender-middle .md-form input[type=password]:focus:not([readonly]){
  border: 1px solid #50ceda;
  box-shadow:0 0px 0px 0px #50ceda;
  border-radius:4px;
  font-family:FreightSansProSemibold;
}
.hfe-reg-vender-middle .md-form input[type=password]:focus:not([readonly])+label{
  color:#225776;
  background:#fff;
  margin-left:0px;
  font-size:25px;
  font-family:FreightSansProSemibold;
  top:-10px;
 
}
.hfe-reg-vender-middle .md-form [type=password]{
  border: 1px solid #50ceda;
  border-radius:4px;
  padding-left:16px;
  font-family:FreightSansProSemibold;
}
.hfe-reg-vender-middle .login-btn{
    padding-top:50px;
    padding-bottom:50px;
    float: left;
    margin-right: 15px;
}
.hfe-reg-vender-middle .vender-circle-btn button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #38b9c4;
    color: #fff;
    font-size: 20px;
    text-align: left;
    font-family: FreightSans-Pro-Semibold;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position:relative;
}
.hfe-reg-vender-middle .vender-circle-btn button span{
	width:150px;
}
.hfe-reg-vender-middle .save-and-go-next span{
	width:188px;
}
.hfe-reg-vender-middle .save-and-go-next button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #38b9c4;
  color: #fff;
  font-size: 20px;
  text-align: left;
  font-family: FreightSans-Pro-Semibold;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position:relative;
}

.hfe-reg-vender-middle .save-and-go-next span{
  display:none;
}
.hfe-reg-vender-middle .save-and-go-next  button:hover{
    width: 220px;
    height: 50px;
    border-radius: 86px;
    text-align: left;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.hfe-reg-vender-middle .save-and-go-next  button img{
  width: 28px;
  position:absolute;
  left: 10px;
  top: 12px;
}
.hfe-reg-vender-middle .vender-circle-btn span{
  display:none;
}
.hfe-reg-vender-middle .vender-circle-btn button:hover{
  width: 150px;
    height: 50px;
    border-radius: 86px;
    text-align: left;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.hfe-reg-vender-middle .save-and-go-next  button:hover span{
  display:block;
  padding-left: 43px;
}
.hfe-reg-vender-middle .vender-circle-btn button:hover span{
  display:block;
  padding-left: 43px;
  font-family:FreightSansProBold;
}
.hfe-reg-vender-middle .vender-circle-btn button img{
    width: 28px;
    position:absolute;
    left: 10px;
    top: 12px;
}
.hfe-reg-vender-middle h2{
  color: #225776;
  font-size: 45px;
  font-family: FreightSansProBold;
}
.hfe-reg-vender-middle .fs-label-wrap {
    border: 1px solid #50ceda;
    height: 40px;
    border-radius: 4px;
}
.hfe-reg-vender-middle .fs-wrap {
  width: 100%;
}
.hfe-reg-vender-middle .fs-dropdown {
    width:93.5%;
    border: 1px solid #38b9c4;
    border-radius: 4px;
    padding: 10px;
}
.hfe-reg-vender-middle .secondrytype .fs-dropdown{
  width:95%!important;
  border: 1px solid #38b9c4;
  border-radius: 4px;
  padding: 10px;
}

.hfe-reg-vender-middle .multioption label{
  color:#225776;
  background:#fff;
  font-size: 22px;
  font-family:FreightSansProSemibold;
  padding-top:15px;
}
.hfe-reg-vender-middle .fs-search input {
  border: 1px solid #aeaeae!important;
  box-shadow: none !important;
  outline: none;
  margin-top: 10px;
  padding: 6px 0;
  width: 100%;
  border-radius: 4px;
  padding-left: 18px;
} 
.hfe-reg-vender-middle .fs-wrap.multiple .fs-option .fs-checkbox i {
    width: 20px;
    height: 20px;
}
.hfe-reg-vender-middle  .fs-wrap.multiple .fs-option.selected .fs-checkbox i {
    background-color:#38b9c4;
    background-image: url(../img/tick-icon.png)!important;
  }
  .hfe-reg-vender-middle  .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #38b9c4;
    background-color: #38b9c4;
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0px;
    box-shadow: none;
}
.hfe-reg-vender-middle  .custom-control-label::before {
    width: 20px;
    height: 20px;
}
.hfe-reg-vender-middle .custom-control-input:focus~.custom-control-label::before{
      box-shadow:none;
      border-color:#adb5bd;
      
}
.hfe-reg-vender-middle  .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url(../img/tick-icon.png)!important;
  background-size:20px 20px;
}
.hfe-reg-vender-middle .custom-control-label::after {
    width: 20px;
    height: 20px;
}
.hfe-reg-vender-middle .md-form label.active {
  color:#225776;
  background:#fff;
  margin-left:5px;
  font-size:26px;
  font-family:FreightSansProSemibold;
  top: -10px;
  padding-left: 5px;
  padding-right: 5px;

}
.hfe-reg-vender-middle .md-form{
  color:#225776;
  background:#fff;
  margin-left:0px;
  font-size:25px;
  width:96%;
}
.hfe-reg-vender-middle .custom-file-label {
    border: 1px solid #50ceda;

}
.custom-control-label:focus {
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width:0px;
  box-shadow: none;
}
.hfe-reg-vender-middle .form-control {
    border: 1px solid #50ceda;
    border-radius: 4px!important;
}
.hfe-reg-vender-middle ul{
  list-style-type: none;
}
.hfe-reg-vender-middle ul li b{
  font-size:16px;
  color:#225776;
}
.hfe-reg-vender-middle ul li span{
  font-size:18px;
}
.hfe-reg-vender-middle ul li{
  font-size:16px;
  font-family:FreightSansProMedium;
  padding-bottom: 10px;
}
.disclmr{
  font-family:FreightSansProMedium;
  font-size:16px;
  padding-top: 10px;
}
.disclmr p{
  font-family:FreightSansProMedium;
  font-size:16px;
}
.multioption p{
  font-size:18px;
  color:#225776;
  margin-top:10px;
  font-family:FreightSansProMedium;
}
.hfe-reg-vender-middle  .fs-arrow {
  /* width: 0; */
  /* height: 0; */
  /* border-left: 5px solid transparent; */
  /* border-right: 5px solid transparent; */
  /* border-top: 5px solid #333; */
  position: absolute;
  top:-4px;
  right: 10px;
  bottom: 0;
  margin: auto;
  transition: ease-in 0.15s;
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: #322e2e;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}
.hfe-reg-vender-middle  .fs-option-label{
  font-family:FreightSansProMedium;
}
.fs-open .fs-arrow {
  transform: rotate(-137deg);
}
.hfe-reg-vender-middle  .fs-label-wrap .fs-label {
  padding: 11px 22px 6px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: FreightSansProMedium;
}
.hfe-reg-vender-middle .vender-circle-btn a {
  width: 50px;
  display: block;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #38b9c4;
  color: #fff;
  font-size: 20px;
  text-align: left;
  font-family: FreightSans-Pro-Semibold;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: relative;
}
.hfe-reg-vender-middle .vender-circle-btn a:hover {
  width: 150px;
  height: 50px;
  border-radius: 86px;
  text-align: left;
  color: #fff;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.hfe-reg-vender-middle .vender-circle-btn a img {
  width: 28px;
  position: absolute;
  left: 10px;
  top: 12px;
}
.hfe-reg-vender-middle .vender-circle-btn:hover span {
  display: block;
  padding-left: 43px;
  line-height: 50px;
}
.hfe-login-sidebar .register-btn button a{color:#fff}
.hfe-vendor-sidebar .register-btn button a{
  width: 175px;
  height: 42px;
  border-radius: 30px;
  border: none;
  background: #38b9c4;
  color: #fff;
  font-size: 20px;
  text-align: left;
  font-family: FreightSans-Pro-Semibold;
}

.hfe-login-sidebar ul li a{color: #fff;}
@media only screen and (max-width:480px) and (min-width:320px)  {
  .hfe-login .col-md-9 {

    padding-left: 15px;
}
  .hfe-reg-vender-middle{
    padding-left:15px;
    padding-right:15px;
  }
  .hfe-login-sidebar {
    padding:40px 20px 40px 20px;
}
.hfe-login-sidebar p {
  padding: 15px 0px 15px 0px;
}
.hfe-login-middle .login-btn {
  padding-top: 10px;
  padding-bottom: 100px;
}
.hfe-login-middle {
  margin-top: 0px;
}
.hfe-vendor-sidebar {
  padding: 100px 20px 100px 20px;
  margin-bottom:0px;
}

}
